[2019-05-05 19:49] #178 closed

[2019-05-05 21:10] sereneblue commented on #180
If I'm understanding your request correctly, you're asking for granular control of which cookies are blocked similar to how uMatrix handles it? If so, that's quite a large of feature to add and falls outside of the scope of this addon. I only included the cookies handling option to expose the options for users because it was available.

[2019-05-05 23:51] sereneblue commented on #175
I've spent quite some time trying to isolate the cause of this issue. It seems to be an issue with how injection is handled in two distinct places in the code (the CSP workaround and injecting into iframes). I'm still not sure why it's causing issues, so I'm going to take a look at improving the whitelist.

[2019-05-06 13:33] Kraxys commented on #180
No, not granular in the "per domain" sense, I understand that would fall largely outside the Chameleon's scope. What I'm thinking about is an additional way to **globally** handle cookies.  uMatrix does that but a gazillion other things, and I'm speaking about the precise following feature, explained by Gorhill:
"_Blacklisted cookies are not prevented by uMatrix from entering your browser. However

[2019-05-07 03:18] sereneblue commented on #180
I don't think that solution would be viable. For example, if you login to a website, cookies are set for that session. You wouldn't be able to maintain a session because the cookies aren't being sent back to the server.

I'm not sure if uMatrix's cookie blocking actually works? I tried testing with http://www.whatarecookies.com/cookietest.asp but it still shows the cookie. I used the latest dev ve

[2019-05-07 07:47] amadeous commented on #181
Sorry for the inconvenience.
Thank you for your work !

[2019-05-07 09:42] WPFilmmaker opened #183 "Add a way to remove baidu from FF.."
I am no expert so I kindly ask more experienced users and sereneblue to give it a look at this and confirm whether my request makes sense or not.

Reading news today I found on quite interesting. It seems that mozilla decided to ship a baidu component not only to Chinese users, but globally, since region-specific solutions were more problematic to implement.

Link to the news: https://www.ghacks.n

[2019-05-07 23:31] sereneblue commented on #127
There is a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1545847) open on the issue tracker. Since this seems to be a Firefox problem rather than a Chameleon one, I'll be closing this issue.

[2019-05-07 23:31] #127 closed

[2019-05-08 02:42] sereneblue commented on #183
It looks like an update to something that already existed in Firefox but only for users using a zh locale. I'm not sure why it was pushed out to non-zh locale users. It doesn't look like it's sending anything besides making a test request to Baidu.
https://www.baidu.com/baidu?wd=test&tn=monline_dg

If you're really concerned about this, you can simply add Baidu to your hosts file and map it to loc

[2019-05-08 04:49] Kraxys commented on #180
Ok, what I wanted to say whas indeed incomplete. I meant "globally preventing **third party cookies** from leaving the browser".

Don't forget: The cookies are not supposed to be prevented from _entering_, but from _leaving_.

But actually I didn't perform any test concerning this uMatrix feature. My idea was just founded on what I saw what Gorhill wrote.

It's surely an option fore sure. Just tha

[2019-05-08 23:13] sereneblue commented on #180
Oh, third party cookies. Hm, it's not something I want to add to Chameleon but the idea seems interesting. I'm still not sure how well this could work if it was a global option but I'll keep the idea in mind for my next addon. ;)

[2019-05-08 23:13] #180 closed

[2019-05-09 13:56] WPFilmmaker commented on #183
Thanks to the clarification @sereneblue

[2019-05-09 13:57] #183 closed

[2019-05-10 01:37] #177 closed

[2019-05-10 03:25] Saadi1988 opened #184 "[Features suggestion] Set Random IP of an specific Country"
## Expected Behavior

Please add feature to fake a random IP in every Firefox startup. and possible to limit random IP to an specific country.
i don't want to profile change every x minutes, rather every Firefox run startup.
And please improve initial extension load performance in Firefox startup.

Thanks.

[2019-05-10 03:49] sereneblue commented on #184
I'm not sure what you mean by initial extension load performance? Chameleon shouldn't have a noticable impact on your Firefox startup time.

If you select one of the random profile options and keep the default change period ("no"), you'll have a random profile on each startup.

Keep in mind that the spoofed IP headers don't actually hide your IP from most websites. Ideally, you should be using a V

[2019-05-10 03:54] Saadi1988 commented on #184
Ok. is it possible to define a custom profile and ip for just a defined website?

[2019-05-10 03:59] sereneblue commented on #184
Yes, you'll need to use the whitelist editor. More details can be found [here](https://github.com/sereneblue/chameleon/wiki/Whitelist).

[2019-05-10 04:04] Saadi1988 commented on #184
Thankyou.

[2019-05-10 23:43] #184 closed

[2019-05-12 10:21] n8v8R opened #185 "[notice] FF Nightly WX Brief not working with Chameleon enabled"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [*] I am running the latest version
- [*] I checked the documentation and found no answer
- [*] I checked to make sure that this issue has not already been filed

## Expected Behavior
No interference with other WX
## Current Beha

[2019-05-12 22:29] #179 closed

[2019-05-12 23:09] sereneblue commented on #185
Thanks, I'll keep an eye out for the changes in v68. Does the issue appear after a fresh install of Brief and Chameleon?

[2019-05-13 03:09] Kraxys opened #186 "[Request] More ways to enter IPs in IP Rules Section"
Adding Ips and rules in _Whitelist > TimeZone and Languages_ becomes rapidly boring when for the same time zone and languages, the IPs to enter are numerous without belonging to the same CIDR "segment".

So, where it possible to add IPs as a **list** (IPs being coma separated for example) ?

Ideally, it would be very convenient to allow the following ways to enter the IPs (for a same TimeZone & La

[2019-05-13 10:23] n8v8R opened #187 "please discard"

[2019-05-13 10:26] n8v8R commented on #179
@sereneblue Thank you for the implementation!

option to set a particular time zone for a particular domain profile (as available on the ip rules) is not planned though?

[2019-05-13 10:29] #187 closed

[2019-05-13 22:59] sereneblue commented on #179
Yes, the timezone per profile feature won't be implemented.

[2019-05-14 09:21] n8v8R commented on #185
Yes, it does happen as well with a fresh FF profile, however there is good news - it is not Chameleon causing this but First Party Isolation.

From what I have seen there are some changes in the current Nightly trunk with regard to FPI

[2019-05-14 09:21] #185 closed

[2019-05-14 10:05] n8v8R opened #188 "settings import (export) not working"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [*] I am running the latest version
- [*] I checked the documentation and found no answer
- [*] I checked to make sure that this issue has not already been filed

## Expected Behavior
Settings import to work for all/any settings

[2019-05-14 13:10] chameleonuser opened #189 ""Enable script injection" makes youtube "?disable_polymer=true""
# Prerequisites

- [+] I am running the latest version
- [+] I checked the documentation and found no answer
- [+] I checked to make sure that this issue has not already been filed

## Expected Behavior
Normal

## Current Behavior
Problem detected on may 13 or so, nothing was changed in my settings, YT was already whitelisted before and worked fine. SUDDENLY it started adding "?disable_polymer=tru

[2019-05-14 20:18] WPFilmmaker commented on #189
On 66.0.5 (64-bit) Linux and  Chameleon 0.12.2 I am unable to reproduce this. Youtube Urls are normal.

[2019-05-14 23:05] sereneblue commented on #175
@linksky56 This issue is difficult to reliably reproduce; sometimes comments load and sometimes they don't. I've updated Chameleon's whitelist feature so it won't try to inject anything if you add a url to the whitelist. Let me know if you're still experiencing issues with the next update, v0.12.3.

[2019-05-14 23:05] #175 closed

[2019-05-14 23:05] #188 closed

[2019-05-15 00:06] sereneblue commented on #170
I did some research and it doesn't look like there is a 'correct' approach. Making the inner/outer windows the same as the screen resolution works for the Tor Browser because you're using Tor and that's expected behavior. I thought Mozilla did something similar with RFP but it looks like RFP doesn't do that anymore (?).

It wouldn't be too difficult for me to update Chameleon to better spoof the v

[2019-05-15 06:44] Thorin-Oakenpants commented on #170
It does. RFP spoofs screen, available screen, outer as actual inner-measurements

[2019-05-16 00:07] sereneblue commented on #189
This was changed in v0.12.2. In the next update this will be fixed so that it only disables polymer when using a desktop Chrome profile as your default spoof profile or whitelist profile, if you somehow happen to use it with youtube in the whitelist.

[2019-05-16 03:08] sereneblue commented on #186
I can make some QoL improvements similar to the recent whitelist editor update. That should cover your third point. CIDR notation already addresses the IP range? You can use a site like https://ip2cidr.com/ to convert the IP range to CIDR.

[2019-05-16 03:09] sereneblue commented on #170
I see. I thought RFP used the screen resolution (ex 1920x1080) for those values instead of the available screen. I suppose it wouldn't hurt to make the screen values more realistic.

[2019-05-19 02:04] sereneblue commented on #186
I've decided to scrap my original idea; reworking the UI to be similar to the whitelist editor proved to be far more complex than I initially thought. I've opted for the simpler solution of comma separated IP ranges.

[2019-05-19 02:06] #186 closed

[2019-05-19 15:59] linksky56 commented on #175
I've updated Chameleon to v0.12.3.
Still experiencing issues, comments still won't load.

[2019-05-19 18:33] Kraxys commented on #186
Thanks. Comma separated IP ranges will be good enough.
I'm going to test this feature.

[2019-05-19 19:51] Kraxys opened #190 "Some Inconvenience In Displaying Comma Separated IPs List"
In Whitelist >TimeZones/Languages, the comma separated IPs lists are displayed both horizontally and vertically, and the buttons **edit** and **delete** are displayed _after_ the end of the horizontally displayed list.

So, when this list is long enough (on my laptop it happens when the list contains 15 or more Ipv4  IPs or 8+ IPV6 IPs), these buttons are placed too far right, and are no more disp

[2019-05-19 22:37] sereneblue commented on #175
@linksky56 Can you export your settings?Also, can you post any error messages that you see in the developer console after you refresh the page?

[2019-05-20 02:18] linksky56 commented on #175
Can you export your settings?
 chameleon_settings_1558317291942.json

{
  "excluded": {
    "win": [
      true,
      true,
      true,
      true,
      true,
      false,
      false,
      false,
      false,
      true,
      true,
      true,
      false,
      false,
      false
    ],
    "mac": [
      false,
      false,
      false,
      false,
      false,
      false,
      false,

[2019-05-20 10:28] n8v8R opened #191 "settings import not working with a Domain Whitelist Profile"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [*] I am running the latest version
- [*] I checked the documentation and found no answer
- [*] I checked to make sure that this issue has not already been filed

## Expected Behavior
Settings import to work for all/any settings

[2019-05-21 03:17] #190 closed

[2019-05-21 03:17] #191 closed

[2019-05-21 03:25] sereneblue commented on #175
Thanks, it seems I made a typo. Hopefully v0.12.4 resolves this issue for you.

You created an issue on Github, use Firefox, and care about privacy; that sounds like a computer literate person to me. ;)

[2019-05-21 19:57] linksky56 commented on #175
Yeah!!!!! It Works! Thank you!

Now i need to go delete my old review and update with new more accurate review.

Thanks again

[2019-05-21 21:41] DPTJKKVH commented on #189
Bug is still present in 0.12.4

I neither use chrome as my current fake profil nor do I use it as a whitelist profile nor do I have youtube.com whitelisted. Still chameleon appends disable_polymer=true to all youtube uris

[2019-05-22 02:42] sereneblue commented on #189
@DPTJKKVH Thanks, I can confirm that this bug is still present in the latest version. I'll have this fixed in the next update.

[2019-05-23 07:51] Saadi1988 opened #192 "Make profiles"
Chameleon has whitelist option but also i need blacklist.

+ fake screen resolution.

Thanks.

[2019-05-23 07:52] Saadi1988 commented on #192
infact special profile for every website.

[2019-05-23 07:54] Saadi1988 commented on #192
option to create a,b,c,... profile (that some features can be random) and set it for specified websites.

[2019-05-23 07:58] Saadi1988 commented on #192
Profile A: unspecified websites.
Profile B: facebook.com, instagram.com, .....
Profile C: x1.com, x2.com, x3.com ,....
........

[2019-05-24 00:12] #189 closed

[2019-05-24 00:51] sereneblue commented on #192
The whitelist was created to fix websites that broke with script injection enabled. Although recent updates have made it possible to use as an 'advanced' mode for Chameleon, that's not its intended purpose. I think the current functionality should be enough to address your needs.

I plan to work on an extension that should give you more spoofing flexibility after [this](https://bugzilla.mozilla.or

[2019-05-27 00:30] #192 closed

[2019-06-06 21:15] gab12 opened #196 "Whitelist screen empty"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X ] I am running the latest version
- [ X] I checked the documentation and found no answer
- [ X] I checked to make sure that this issue has not already been filed

- Open the whitelist
## Expected Behavior
the whitelist screen

[2019-06-07 23:39] sereneblue commented on #196
Thanks for bringing this to my attention. I've made a mistake when migrating user settings to the new whitelist editor. I've fixed the issue and will have the update out as soon as possible.

[2019-06-08 00:46] sereneblue commented on #173
@Shitennouji

Hope you enjoyed your vacation! I've done some work to get Chameleon ready for translations. It's almost ready, just a few more things I need to work out. Do you think the about:config part should be translated as well? This section might need to be updated to make it more clear about what to do with each option.

![image](https://user-images.githubusercontent.com/14242625/59139916-d

[2019-06-08 00:47] #196 closed

[2019-06-08 01:12] sereneblue commented on #55
@3ibsand
I've finally gotten around to adding support for localizations. If you still want to help translate Chameleon, you can find the project page for translations [here](https://crowdin.com/project/chameleon).

I haven't forgotten this issue either. Hopefully, I'll be able to close it before the end of the month. ;)

[2019-06-08 18:41] n8v8R opened #199 "keyboard fp protection renders input sluggish"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Expected Behavior
with the protection enabled input would not b

[2019-06-08 21:14] Kraxys opened #200 "Problems in TimeZone/Languages IP Rules in v12.5"
Updating from v12.4 to v12.5 erased my TimeZone/Languages IP Rules. Moreover, when trying to reset these rules I get 2 problems:
1) After resetting some rules and restarting firefox, I'm no more able to add new rules and the previous rules (added after updating Chameleon and just before restarting FF) are no more displayed.
2) Chameleon is no more able to find the correct timezone rule to use, and

[2019-06-09 17:57] sereneblue commented on #199
That indicates it's working. ;)

Keyboard fingerprint protection works by adding a delay between each keypress you make, making it much more difficult to identify you. I'll reduce the delay between each keypress in the next update; It should be a bit less noticeable.

[2019-06-09 18:08] n8v8R commented on #199
any chance to add it to domain/ip whitelisting?

Reason - places for online collaboration, e.g. Github or corporate intranet, having it enabled may lower one's typing rate whilst in general preferring the protection being enabled.

[2019-06-09 18:23] sereneblue commented on #199
It's only enabled for inputs so it doesn't affect much larger bodies of text on the page (ex. comment boxes on Github) The new delay value (20ms instead of 30ms) makes it almost unnoticeable.

[2019-06-09 18:56] sereneblue commented on #200
I'm sorry your whitelist settings were deleted. It looks like v0.12.4 was a breaking change and v0.12.5 didn't fix the issues (may have made things worse). Thanks for the helpful issue. I'm currently looking into this.

[2019-06-09 19:48] #199 closed

[2019-06-10 03:09] #200 closed

[2019-06-10 14:39] Minimalist73 opened #201 ""Protect keyboard fingerprint" does not work as intended"
## Expected Behavior
Make harder to fingerprint keyboard input

## Current Behavior
Tried the feature on https://www.keytrac.net/en/tryout after authentication my score was 100% so I've been detected as the same user. Feature should protect from this kind of behavior if I'm not wrong ?

## Relevant settings

Protect keyboard fingerprint with script injection.
## Context (Environment)

67.0.1 & W10

[2019-06-10 15:47] Kraxys commented on #199
I think you should let the user to choose the delay, because on the other side the less the delay, the less the fp protection is working. There is a trade between protection and usability here.

The guy who first (to my knowledge) studied keyboard fingerprinting, P Moore, founded that with a default "dwell" and "gap" times to 200ms, keyboard fingerprinting failed in 99,98% of the case.  This value

[2019-06-10 16:29] n8v8R commented on #199
I am turning the feature off altogether, even with 20 ms this feels like typing in molasses compared to my natural typing speed. I would not want to even near 200 ms, but that should be each user's prerogative .

[2019-06-10 23:07] sereneblue commented on #201
That's a textarea HTML element. The keyboard fingerprint only works for inputs. This is done for two reasons: keyboard fingerprinting is probably used for form elements (inputs) and performance concerns.

I'm not entirely sure how useful keyboard fingerprint protection is. I'd imagine the library used to get the fingerprint is loaded as a 3rd party script so something like uMatrix/NoScript would b

[2019-06-10 23:25] sereneblue commented on #199
I'll add an option for the user to configure this. I'm not entirely sure how effective this feature is though; see my comment [here](https://github.com/sereneblue/chameleon/issues/201#issuecomment-500625903)

[2019-06-10 23:54] Shitennouji commented on #173
Hi, It’s been a while!

Translate to Japanese will help you with everything that needs translation.

As translation work in "The Crowdin project" has been experienced, it is OK.
https://crowdin.com/translate/chameleon/12/en-en
Since I am in regular work, the translation work will take about a week.
Until reply.

[2019-06-12 00:51] #201 closed

[2019-06-13 17:14] ilikenwf opened #202 "navigator.hardwareConcurrency should be 2 for Firefox Useragents"
All versions past May 2, 2017 of Firefox report this value as 2, not 4 when resistFingerprinting is enabled, because 70% of Firefox users have 2 discrete CPUs anyway:

https://github.com/sereneblue/chameleon/blob/3ce32540bc2f9f592b70bb8d61db9b7f1af39fe5/src/js/lib/spoof.js#L77

[2019-06-13 23:24] sereneblue commented on #202
Thanks! This will be fixed in the next update.

[2019-06-14 02:39] #202 closed

[2019-06-16 01:02] sereneblue commented on #173
@Shitennouji Thanks for translating Chameleon! I'll try to have an update out soon, might need a little polish for the UI.

[2019-06-16 01:02] #173 closed

[2019-06-17 23:19] Kraxys opened #205 "Chameleon doesn't Recognize Time&Date for an IP Manually Entered in WhiteList."
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

I use the  browser where Chameleon is installed, with a proxy with latvian IP.
Previously, in _Whitelist>View TimeZones and IP Rule_, I have defined a rule for this ip: _Language = Latvian, TimeZone = Europe/Riga_.
I have of course ena

[2019-06-19 19:12] sereneblue commented on #205
Thanks for reporting this issue. This should be fixed in the next update.

[2019-06-19 19:33] #205 closed

[2019-06-19 21:33] n8v8R opened #206 "[bug] import/export regression"
0.12.7 apparently introduced another import/export regression. imports failing again.

[2019-06-19 22:18] sereneblue commented on #206
Thanks for opening this issue. v0.12.8 fixes this issue.

[2019-06-19 22:22] #206 closed

[2019-06-20 22:18] avital32 opened #207 "Notifications stopped working"
Running the latest version of Chameleon and Firefox.
Have not yet found any topics about this, so it might just be me(?)
but randomly, the notifications stopped working, as well as the Whitelist options.

Never had a problem with this until today.

I have:
Reset Chameleon.
Deactivated.
Deactivated and removed x 4
Unchecked the enable notification box and restarted Firefox again, both with notifica

[2019-06-20 23:46] sereneblue commented on #207
I'm not able to replicate the notification issue with  FF67 and FF68 using v0.12.8. What do you mean by whitelist options?

Also, can you reliably reproduce this issue? If so, can you install and test with v0.12.7 and v0.12.6?

[2019-06-21 09:35] avital32 commented on #207
Its the Add/edit domain in the Whitelist tab that wont open. View whitelist and View Timezone/Language IP rules works fine, clicking one of those, and the html site opens. It used to open when clicking Add/edit domain too, but that and the enable notices stopped working all together.

I will try to install and test with v 0.12.7 and v 0.12.6

[2019-06-21 13:25] alekksander opened #208 "request to make context menu entry optional"
as title says. this is a request for that context menu entry to be optional.
thank You

[2019-06-21 22:55] alionti998 opened #209 "No longer working on Firefox on Android"
As the title says, Chameleon no longer works on Firefox on Android.
Noticed it a few days ago, but not sure if it was due to a recent update for Firefox (67.0.3) or Chameleon (0.12.8).
Settings no longer save when exiting the menu (such as profile, header, etc). Chameleon no longer displays the current user agent as well in the context menu (may be due to the fact that settings are not being saved

[2019-06-22 02:13] #207 closed

[2019-06-22 02:13] #208 closed

[2019-06-22 02:13] #209 closed

[2019-06-22 09:44] n8v8R opened #210 "[info only] Mozilla plans to remove CPU info from User-Agent strings and navigator APIs"
In case of interest to keep an eye on the development

https://bugzilla.mozilla.org/show_bug.cgi?id=1556223

[2019-06-22 16:38] sereneblue commented on #210
Thanks, I'll be updating the profiles when FF69 rolls out.

[2019-06-22 16:43] n8v8R commented on #210
That may not happen yet with FF69, at least the bug has no target yet.

Perhaps you were referring to https://bugzilla.mozilla.org/show_bug.cgi?id=1559747

[2019-06-22 17:14] sereneblue commented on #210
You're right, I was referring to that bug. I'll keep an eye out for the changes in the release notes and will update the profiles accordingly.

[2019-06-24 00:25] sereneblue commented on #161
Quick status update, I've done some work on this issue. It's straightforward to add support for this but I ran into an issue with CSP. It passes 2/4 of the tests [here](https://www.mike-gualtieri.com/css-exfil-vulnerability-tester). I'd rather not modify the CSP headers while [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1462989) is still a bug in Firefox; sadly, I don't think an alternative

[2019-06-24 22:45] WPFilmmaker commented on #161
@sereneblue thanks for the update and for implementing it, are you following that's bugs updates? It seems comments will be disabled, any chance you can finish the work once they fix that?

[2019-06-24 23:41] sereneblue commented on #161
Yeah, definitely. Once that bug is fixed, I'll resume work on this issue.

[2019-06-28 16:17] bagnaram opened #213 "Firefox mobile whitelist profiles do not save"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
When setting the profile for a whitelished it

[2019-06-29 02:46] sereneblue commented on #213
@bagnaram Are you using the latest version of Chameleon? There was an issue with Android with a previous version that should be fixed with the latest, v0.12.9.

[2019-07-01 20:33] bagnaram commented on #213
Yes I am running 0.12.9. Is there any additional information I can provide to assist debugging?

[2019-07-01 23:24] sereneblue commented on #213
@bagnaram Can you post your exported settings?

[2019-07-01 23:38] bagnaram commented on #213
Sure.

On July 1, 2019 6:24:05 PM CDT, sereneblue <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-07-02 14:06] bagnaram commented on #213
Sorry I thought it would attach in email.
[code]

[2019-07-03 00:54] sereneblue commented on #213
Hm, even with your settings I'm not able to replicate this issue. Are you saving the rule after you change the whitelist profile? Just to be clear, are you trying to modify the rule for `chat.google.com`?

[2019-07-04 00:09] bagnaram commented on #213
I am saving the rule and the setting persists for a while. I feel like after some determined period of time, the whitelisted profile setting reverts to "default profile", even after saving.

[2019-07-04 00:23] bagnaram commented on #213
I have not been able to trace where or how it is happening, but try setting and saving a custom whitelist profile user agent. And then after a couple hours or restarts, it reverts.

[2019-07-06 19:42] 0pLuS0 opened #215 "Spoof Timezone Doesn't Work"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [*] I am running the latest version
- [*] I checked the documentation and found no answer
- [*] I checked to make sure that this issue has not already been filed

## Expected Behavior
Timezone should be spoofed when using option

[2019-07-06 22:21] sereneblue commented on #213
Thanks for your patience. I was able to find the bug!

v0.12.10 will be released soon.

[2019-07-06 22:27] sereneblue commented on #215
Can you try visiting `https://add0n.com/spoof-timezone.html` and see if your timezone is spoofed? Also, are you checking `Enable script injection`? whoer shows the spoofed timezone for me under `System`. I believe the local timezone whoer displays is the timezone based on your IP address.

[2019-07-06 22:40] #213 closed

[2019-07-08 13:12] bagnaram commented on #213
Awesome. cheers!

[2019-07-10 13:36] WPFilmmaker commented on #215
@serenblue here it works too, maybe he/she didn't enable 'enable script injection'.

[2019-07-19 17:16] DPTJKKVH opened #220 "Websockets are not properly blocked"
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Expected Behavior
In Chameleon I activate script injection and select configure it to block all websockets connections. I expect that websockets connections cannot be established and used.

## Current Behavior
http://demos.kaazing.c

[2019-07-19 23:25] sereneblue commented on #220
WebSockets are blocked. If you open the developer console, it shows `Firefox can’t establish a connection to the server at ws://demos.kaazing.com/echo?.kl=Y.`. However, it looks like that demo is using an HTTP long polling fallback. There's not much that can be done about that.

[2019-07-20 06:11] DPTJKKVH commented on #220
@sereneblue Thanks for the quick reply. Are you sure nothing can be done?

If you use API-Killer-Websockets from eladkarako the test failes completely and no messages can be send: https://github.com/eladkarako/chrome_extensions/releases/download/LatestFirefox/api_killer_websocket-1.0.2.11-an+fx.xpi

Source code here: https://github.com/eladkarako/chrome_extensions/tree/store/API-Killer-WebSocket

[2019-07-21 01:45] sereneblue commented on #220
The extension you linked is obfuscated and there isn't any source code in the repo you provided.

Originally, Chameleon blocked WebSockets from being opened by overwriting the WebSocket variables. This is a bit of a hack and can cause websites to break. The cleaner way is to block the WebSocket connection from being opened (what Chameleon currently does), however, this doesn't protect you from sit

[2019-07-21 02:27] DPTJKKVH commented on #220
The code was open source at one point or at least not obfuscated. I remember that eladkarako complained that he had provide clean copies to Mozilla for reviews. This is one of the reasons why he now publishes on github only.

Would it help your research if I try and find an old version that was still released on addons.mozilla.org? I might have an old copy of the xpi somewhere.

[2019-07-21 03:13] sereneblue commented on #220
@DPTJKKVH Yes, that would be much appreciated. I know that it replaces the WebSocket object but I'm not sure if also breaks sites like Chameleon used to. I haven't done much testing with that addon.

[2019-07-21 14:53] DPTJKKVH commented on #220
@sereneblue Bad news.

I checked every device I have and searched through several backups but all are too new or up to date and thus already have the github version installed.

I then spent several hours trying to retrieve an "addons.mozilla.org"-version from web caches, archives and mirrors but without success.

As long as eladkarako is not willing to (confidentially) share his code with you, onl

[2019-07-21 18:00] sereneblue commented on #220
@DPTJKKVH Thanks for looking for the older version.

If a developer wants to distribute the addon themselves (the case here), it's immediately signed by Mozilla; the code isn't reviewed. Signing only allows users to install the extension in the release version of Firefox.

I'll look into this issue when I have some time available.

[2019-07-22 13:48] DPTJKKVH commented on #220
@sereneblue Thanks for taking a look at this issue. It is very much appreciated. If you need help with testing or such at a later time feel free to contact me. I'll stay subscribed to this issue.

I'd like to add my take on the issue if you don't mind:
I understand that breakage should be avoided because privacy without functionality isn't worth much. However should you come to the conclusion that

[2019-07-23 02:07] sereneblue commented on #220
@DPTJKKVH I appreciate your thoughtful comments. That's actually what I have in mind for how I'll implement this feature if I can't find a way to block the long polling connection. I've been a bit busy with another project so I haven't had much time to work on Chameleon but the next release will contain a fix for this issue. ETA within the next week or two. :)

[2019-07-29 10:59] WPFilmmaker opened #224 "Chameleon does not revert twitter's old UI"
Twitter released a new UI which many, me included, don't like as it is kinda mobilish and not desktopy :P

Earlier on it was possible reverting to the old interface through the settings, however it is not possible any more.

Fortunately it was discovered that by spoofing UA with IE twitter would show the old UI.
UA is supposed to be: Mozilla/5.0 (Windows NT 9.0; WOW64; Trident/7.0; rv:11.0) like G

[2019-07-29 11:12] WPFilmmaker opened #225 "Add IE 11 Windows 10"
While fiddling with chameleon (for #224) I noticed that UA IE11 Windows 10 is not available.

At first I thought it was normal because IE11 wasn't supported on W10 but then googling I found:

"You don't need to download and install Internet Explorer 11 in Windows 10 because it's already installed"

(https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads)

Windows 10 has way mor

[2019-07-30 01:12] #225 closed

[2019-07-30 03:14] sereneblue commented on #224
Have you tried testing with the GoodTwitter addon? By the way, I don't think the user agent used by that addon exists (NT 9.0?).

I'm not sure if I need to login to Twitter to see the new UI. I don't think the UI is tied to your cookies but have you tried logging in with a private window and Chameleon?

[2019-07-30 21:49] WPFilmmaker commented on #224
@sereneblue, You are right NT 9.0 seems not to be a valid ua, no idea why it is mentioned there...
GoodTwitter is opensource so maybe you can give it a look (f you haven't already) to its source.

About the issue I tried in private mode and it works! It has something to do with cookies, in fact GoodTwitter can: 'Clear recent browsing history, cookies, and related data'. I cleaned the cookies and t

[2019-07-30 21:49] #224 closed

[2019-07-31 02:51] sereneblue commented on #220
@DPTJKKVH Good news! After some more research, I was able to seamlessly block more WebSocket connections that use an HTTP fallback. This new functionality will be in the next update.

[2019-07-31 02:54] #220 closed

[2019-07-31 06:34] DPTJKKVH commented on #220
@sereneblue This is incredible news! 👍 I can't wait to test the new version. I will report back if I find any issues but I already want to thank you very much! It was a very pleasant experience talking with you about this issue and you were very kind to pick it up and fix it in such short time. You made me very confident in trusting you and your addon and I already recommeded it to friends and fam

[2019-08-01 00:03] sereneblue commented on #220
@DPTJKKVH

I greatly appreciate the kind words. Chameleon wouldn't have gotten this far without it's users. Because of your efforts, Chameleon users will benefit from an improved WebSocket blocker. ;)

Sure, I don't mind if you create an issue for improvements. Do note, I will be working on other projects so I won't have as much time to commit to Chameleon development.

In regards to Canvas Blocke

[2019-08-01 14:23] n8v8R opened #226 "[feature suggestion] add * to header language spoofing"
Currently I am using a different WX for header language spoofing because missing in Chameleon the `*` as option. I could remove the other add-on, less potential interference between WX,  if `*` would be added in Chameleon.

This from the other WX for augmenting what I am looking for

![accept lang per site settings](https://user-images.githubusercontent.com/13611490/62303173-f2438880-b47b-11e9-858

[2019-08-02 01:13] sereneblue commented on #226
If you don't enable header spoofing for the accept-langauge, the extension shouldn't conflict with Chameleon.

Adding a wildcard doesn't fit well with Chameleon's whitelist functionality and makes things a bit more complicated. It's a limited use case so unfortunately I won't be adding this feature to Chameleon.

[2019-08-02 01:13] #226 closed

[2019-08-04 23:34] sereneblue commented on #220
@DPTJKKVH v0.12.12 has been released with improved websocket blocking.

[2019-08-05 09:03] SolCastel opened #228 "Adding Firefox 60.0 Windows 7"
The Tor Browser Bundle uses the user agent:
- Mozilla/5.0 (Windows NT 6.1; rv:60.0) Gecko/20100101 Firefox/60.0

i.e. Firefox 60.0 on Windows 7 (when using Window at least)

On Panopticlick run by the EFF
When I use Firefox normally I get - 24.1 in 1
When I use Firefox with best profile for Firefox I get - 16.88 in 1 (thanks a lot for that)

However, when I use Tor Browser Bundle (looking only at

[2019-08-05 14:42] DPTJKKVH commented on #220
@sereneblue I just tested it and it works flawlessly! It's good that you were able to block websockets and it's fallbacks while still exposing (or pretending) websocket compability.

Thank you again for taking the time to both looking into it and adding the new features in such a short time. 👍

[2019-08-05 23:35] sereneblue commented on #228
Tor Browser uses Firefox ESR for the user agent. If you use `Firefox ESR (Windows 7)`, you'll get 1 in 9.52.

[2019-08-05 23:35] #228 closed

[2019-08-06 19:10] mazbron opened #229 "Hi"
Can you add option spoof IP like this?
https://i.postimg.cc/yNftDny3/screenshot-152.png

thanks

[2019-08-06 23:10] sereneblue commented on #229
You can already spoof the Via/X-Forwarded-For headers on the headers tab. If you want to use it for a spoof the IP for a specific site, use the whitelist.

[2019-08-08 03:32] mazbron commented on #229
Yep I know, but can you please add option ip range like ipfuck?

Thanks

[2019-08-08 11:18] SolCastel opened #230 "Javascript Leaking Useragent"
Thanks for your help last time (even though it mostly was my being stupid), I've got something else this time.

I keep getting a 'Browser headers different' on https://whoer.net/
Apparently my real useragent (which I can confirm is correct when checking what the leaked useragent is) is leaking via javascript ergo the title even though I am using Chameleon.

[2019-08-08 23:19] sereneblue commented on #230
Did you enable script injection?

[2019-08-10 01:41] sereneblue commented on #229
What's your opinion on using the CIDR notation? It's not as flexible as an IP range, but I could reuse some of the existing code.

[2019-08-10 11:12] cosmopol opened #231 ""protect keyboard fingerprint" improvements"
The function "Protect keyboard fingerprint" seems to be ineffective on many websites for the keyboard input is seemingly instantaneously processed allowing for keystroke dynamics fingerprinting (This type of tracking has been proven to be very reliable. Please remember that there are several pause metrics recorded, not just the initial keystroke pause. The dwell time is also often used.). On some

[2019-08-11 09:13] DPTJKKVH commented on #189
I'm on Firefox 68.0.1 (64 bit) and I do not fake my UA to be Chrome. In fact I do not use the Agent switcher of Chameleon at all. Still every time I go on youtube it adds an `&disable_polymer=true` at the end.

Chameleon settings:
Profile: Real Profile
Headers: Spoof Accept & Accept encoding headers + Accept Language EN-US
Options: Enable Script Injection + Websockets Block All

[2019-08-11 23:52] sereneblue commented on #189
@DPTJKKVH I've identified the issue, the next update should improve this. It's still not as nice as I'd like because things get a little messy when you're switching between profiles while using Youtube. Hopefully Google fixes Youtube soon.

[2019-08-12 00:13] sereneblue commented on #231
Thanks for pointing out the dwell time! At the moment, the delay is anywhere from 0 to the value specified by the user (default is 20ms). A minimum value does makes more sense. I'll have to do some more research.

[2019-08-12 08:04] DPTJKKVH commented on #189
@sereneblue That was quick! I will test it as soon as the new version gets released. If I run into any issues I will report them here.

Thanks 👍

[2019-08-14 16:34] n8v8R opened #232 "social tracking added in FF70 (currently Nightly branch)"
`privacy.trackingprotection.socialtracking.enabled` been added as preference stanza

![Annotation 2019-08-14 183334](https://user-images.githubusercontent.com/13611490/63038714-14002f00-bec2-11e9-8bc8-3a723dbac0da.png)

[2019-08-14 23:25] sereneblue commented on #232
@n8v8R I'll add that to Chameleon when FF70 is released.

[2019-08-19 09:59] rugabunda opened #233 "Inaccurately reporting about:config in checklist"
Inaccurately reported session identifiers and tls false_start setting as its opposite.

Disable SSL False Start security.ssl.enable_false_start true
Disable SSL Session Identifiers security.ssl.disable_session_identifiers false

false_start is actually disabled, and session_identifiers are actually disabled.

[2019-08-19 23:39] sereneblue commented on #233
@rugabunda Thanks for pointing this out! I'll have this fixed in the next update.

[2019-08-19 23:52] #233 closed

[2019-08-20 10:05] rugabunda commented on #233
This occurred in 68.0.2, oddly its not reproducible in firefox bittubers 68.0a1

[2019-08-20 10:17] rugabunda commented on #233
I just turned off https everywhere, and retested, the problem did not persist; then re enabled httpseverywhere, and tested again, and the problem did not persist.

[2019-08-20 14:50] rugabunda commented on #230
enabling script injection fixed it for me

[2019-08-21 00:11] #230 closed

[2019-08-21 00:46] sereneblue commented on #233
@rugabunda I'm not sure what issue you're having? HTTPS Everywhere doesn't modify the about:config settings.

[2019-08-21 00:51] #232 closed

[2019-08-22 12:11] rugabunda commented on #233
I noticed today it is falsely detecting that disk & ram cache were disabled...

[2019-08-22 12:17] rugabunda opened #235 "REQ: default profile + whitelist profile"
Two profiles would be nice... a whitelist profile and a default profile that can be changed as well.

This can help reduce attack surface because real profile may reveal to an attacker O/S & browser version for targeted exploitation.

[2019-08-22 12:22] #235 closed

[2019-08-23 01:33] sereneblue commented on #233
I'm still not following you; web extensions don't have that capability. The checklist is just a checklist. It doesn't modify about:config settings.

[2019-09-02 00:26] sereneblue commented on #231
@cosmopol I've made some small updates to this feature. It'll be in the next update, ETA next week.

- The minimum time between keystrokes is now 30ms instead of 0. That means the delay in between keystrokes will be anywhere from 30ms to [30 + your delay]ms.
- The dwell time (keydown event) is now protected.

The inputs on the ebay site area are protected. Depending on your configuration, you may

[2019-09-02 00:30] #231 closed

[2019-09-04 18:41] seascape commented on #170
Meta question related to this.

I've been trying to figure this out: If you can't/won't change your browser window to a specific common size (like Tor Browser does), and you're worried that your browser's resolution is too unique to resist fingerprinting (which it usually will be), what are (second-)best practices for reducing that vulnerability? I've heard using FF RFP's resolution features someh

[2019-09-04 22:13] Thorin-Oakenpants commented on #170
RFP users are an enforced set to some degree. There are issues with height being out by a few pixels (but consistent per platform) **if** you have the bookmarks toolbar showing. Theme density also affects the padding on the toolbar, so that's more FP buckets users can fall into. Additionally, system settings like DPI can cause the 1000x1000 to be out by several pixels. And of course users can resi

[2019-09-06 01:21] sereneblue commented on #210
I've updated what I can for now. Linux and Android will be updated when the changes are included in the next(?) FF release.

[2019-09-06 01:21] #210 closed

[2019-09-07 01:15] 0pLuS0 opened #236 "New Tweaks To Add Please?"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Expected Behavior
Nothing but adding these new Tweaks

## Curre

[2019-09-09 05:40] Thorin-Oakenpants commented on #236
I would just like to caution against almost all of these: listing them for end-users will encourage playing with them: which is not good. Additionally, you would have to maintain it.

Examples:
- `tls min`: Firefox telemetry shows > 0.5% of encrypted pages use tls1.0 or 1.1. Changing this alters your fingerprint for basically zero security gain
- `ciphers`: changing ciphers also alters your finger

[2019-09-09 20:22] jahnson opened #239 "chameleon breaks some more sites"
Using 0.12.13

Various web sites have stopped working in the last ~2 weeks.

Youtube does not work correctly (did before), The video is larger than the available space.  I think because screen size & window size spoofed to 1920 x 1080, so part of the video is outside of my window.  I reduced the spoof to 1366 x 768, but now I have a video window smaller than the space available.
This problem appea

[2019-09-10 01:39] 0pLuS0 commented on #236
Go easy on the WORDS, don't be insulting! ```uneducated```...

I said ```Consider``` these tweaks, if there is any value to these!

No one is copying anything just simply from TOR!

I have also spent YEARS on this subject over Firefox security, which at some point in time, these did have some merit!

Anyhow...

```P.S.``` One thing I will say, trying to disable WebRTC in Chameleon it didn't seem t

[2019-09-10 03:49] 0pLuS0 commented on #236
Here is an edited/modified list of the original.

***

browser.sessionhistory.max_entries - (default string)
50
browser.sessionhistory.max_entries - (user set string)
2

***

browser.sessionstore.max_tabs_undo - (default integer)
25
browser.sessionstore.max_tabs_undo - (user set integer)
0

***

browser.sessionstore.privacy_level - (default integer)
0
browser.sessionstore.privacy_level - (user set

[2019-09-11 03:00] sereneblue commented on #236
@Thorin-Oakenpants @0pLuS0 The checklist will be updated in the near future. I've only glanced at some of the settings; yes, not every one of them is relevant. I believe some of the settings were included for security reasons (hardened Firefox) so not everything will be directly related to privacy/fingerprinting.

I'll be taking a thorough look at these settings above and reevaluating the existing

[2019-09-12 02:03] sereneblue commented on #229
@mazbron I'll do some refactoring for the spoof IP header feature while adding this feature. The `Via` and `X-Forwarded For`will be replaced with a single option that controls both of these headers. I didn't have much time to implement this for the release today, so it'll be in the next update [v0.12.15](https://github.com/sereneblue/chameleon/milestone/3).

[2019-09-12 02:31] sereneblue commented on #239
Hi @jahnson,

Spoofing the screen resolution will cause some sites to break, that's what the whitelist is for. I strongly recommending adding Youtube to it because Youtube is a broken site on Firefox with other user agents. I've tried using the polymer trick but it gets tricky when you're going through a playlist.

For your bank site, I won't be able to offer much help if I don't know what it is,

[2019-09-15 03:56] sereneblue commented on #236
@0pLuS0

I suppose I can make an improvement to WebRTC handling. At the moment, Chameleon doesn't disable WebRTC, it only limits how much data is exposed. I can add an option to disable WebRTC. If it's enabled, it'll display the existing functionality.

These options will be added.

This options only applies to *nix systems, however, this doesn't work for me on Arch Linux.

The cookie policy optio

[2019-09-15 23:27] #236 closed

[2019-09-16 19:58] andcha88 commented on #215
@sereneblue Timezone spoofing won't work for me as well. Needed to add another one firefox add-on in order to make this possible. What's the issue?

[2019-09-16 22:51] sereneblue commented on #215
What website are you using to verify the spoofed timezone? Can you post your settings?

[2019-09-17 08:14] andcha88 commented on #215
I check my timezone at https://ipx.ac/run and https://browserleaks.com/javascript as well. If I use another plugin for spoofing my timezone it's working, with Chameleon it's not working anymore. Used to work though. Even if I tried to completely reset everything, still the same issue. Here's a printscreen of the settings I use: https://prnt.sc/p755up

[2019-09-18 03:16] sereneblue commented on #215
Thanks; from a quick test, it seems the keyboard fingerprint option is breaking timezone spoofing. I'll look into this further and will hopefully have a patch in place for the release later this week.

[2019-09-18 07:55] andcha88 commented on #215
That's great! Will be expecting the release 👍

[2019-09-18 08:01] andcha88 commented on #215
That's great! Will be expecting the release...

[2019-09-18 09:10] Paola001011 opened #242 "Screen size spoof does not work"
The screen size remains fixed at 1400 x 900. Even if I change resolution, it remains fixed at 1400 x 900. Why?

[2019-09-18 12:35] sereneblue commented on #242
Do you have keyboard fingerprint protection enabled?

[2019-09-18 14:51] Paola001011 commented on #242
now works!!! Why? Thanks !!

[2019-09-18 16:13] cosmopol commented on #231
I have not tested it manually yet, but I assume that you are referring to the "Commits on Sep 2, 2019", thus the stuff should already work. I have to disappoint you. It does not work reliably either on https://www.keytrac.net/en/tryout or on any other website. There is virtualy no delay, e.g. search results are handed out immediately, so right now I seem to see the missing protection in real time.

[2019-09-18 16:16] cosmopol commented on #231
PS: Chameleon - protect keyboard fingerprint is set to 1000ms

[2019-09-18 16:17] cosmopol commented on #231
...Enable script injection is on

[2019-09-18 23:35] sereneblue commented on #242
There was an extra parenthesis in the keyboard fingerprint protection injection code. I'll release an immediate update later today to address this issue.

I'll have to make some major improvements in the tests to catch these types of errors.

[2019-09-18 23:39] #215 closed

[2019-09-18 23:39] #242 closed

[2019-09-18 23:54] sereneblue commented on #231
Hi @cosmopol,

it seems in my excitement to get this issue closed, I missed a typo that caused this feature to not work properly. I'll be doing a rewrite of the existing tests to catch these type of issues for [v0.20.0](https://github.com/sereneblue/chameleon/projects/1).

If you want to try it on keytrac.net, you'll need to manually load a modified version of Chameleon, as mentioned in my previou

[2019-09-19 16:04] andcha88 opened #243 "Navigation Timing API"
I've noticed that Chameleon won't spoof "Navigation Timing API" which actually reveals your real time and date of the device you use. @sereneblue could you please check this out? I don't know if it's possible to spoof these information but it would be great. Please find the attachment below showing the section which I'm referring to. I've already spoofed my timezone and all settings seems to be wo

[2019-09-19 20:50] jahnson commented on #239
The bank site is working again at this moment (after it did not work on two separate days), though it produces a number of yellow warnings in the Developer Console.

On the Sony site I get the follow error message in the Developer console:

NotSupportedError: The media resource indicated by the src attribute or assigned media provider object was not suitable. sonymobile-21b398028af8344f6e27b4cc4c6

[2019-09-19 21:10] jahnson commented on #239
for video, perhaps a better solution is to use hooktube or invidio.us

[2019-09-20 02:34] sereneblue commented on #239
Are you using v0.12.15? There was an issue resolved in that update that might have been the cause of the issues you were experiencing.

Can you post your exported settings? That error message doesn't seem to be related to Chameleon.

[2019-09-20 03:35] sereneblue commented on #243
Hi @andcha88,

Chameleon doesn't spoof the Navigation Timer API. I'll have to do some more research to learn how it works. Keep in mind that Chameleon's timezone spoofing is naive; it's still possible to get your real timezone. If you want to safely spoof your timezone, you should change your OS's settings.

[2019-09-20 07:38] cosmopol commented on #231
You have basically reverted the functionality to the state before our discussion. Most AJAX windows and simple things like the Firefox search bars are still unprotected. The default pause does not change detection reliability for the algorithms just could detect that floor value (we are talking big data and governments here). You should make sure that your RNG is reliable. Please introduce iterati

[2019-09-20 13:49] andcha88 commented on #243
It would be a great option to be able to spoof Navigation Timer API. In the meantime, I'll make sure to change my OS's settings.

[2019-09-21 00:58] sereneblue commented on #231
By Firefox search bar, I'm assuming you're referring to the search bar that is part of Firefox's UI? WebExtensions don't have the ability to do anything to it.

Chameleon isn't designed to protect you from governments. If your threat level is that high, you should not be using any extensions or have JS enabled. Unfortunately, I don't have the qualifications to roll my own RNG. Chameleon's keyboard

[2019-09-21 10:19] cosmopol commented on #231
OK, I get it. This project is not meant to be seriously protecting privacy. It's just a hobby, a code experiment etc. I therefore have to assume that the rest of the code, apart from input devices tracking protection, is designed similarily. I do not have the time to question and redo everything. Forking this project for instance is just to much for me. Let me know when you plan on creating a real

[2019-09-21 17:12] sereneblue commented on #231
Have a nice one as well. I hope you can find your what you're looking for!

[2019-09-21 20:25] cosmopol commented on #231
No, I do not believe that I am being especially targeted by the Government, in fact everyone is. The classical mafia might also already have jumped abord, but nobody knows exactly and nobody really cares. :-)

I have found some critical flaws with software, like yours. Most often metadata, font and device fingerprinting protection is done incorrectly, but you do not need to be a geek to find that

[2019-09-21 22:27] sereneblue commented on #231
I think the version number of Chameleon implies that it'll always be a work in progress.

I don't use telemetry to collect information about the most used features of Chameleon but I'm inclined to believe that even among users who do value privacy, there aren't many who are willing to go as afar as to implement a delay between each keystroke. There's a balance that has to be made between usability

[2019-09-22 02:58] #229 closed

[2019-09-22 14:14] n8v8R opened #244 "[bug] import/export regression (again)"
It might be perceived as ungrateful since being only a user and not actually contributing code but that is now the fourth time in recent times that I am opening an issue related to im/export after code changes. Would it not be possible to somehow test im/export after code changes and prior releasing?

It sort of seems that with the introduction of new features/settings such then slips the code bas

[2019-09-22 16:30] sereneblue commented on #244
It's fine. I did test importing/exporting before releasing but it seems I'm missing something. This is definitely something that will be improved in the v0.20.0 release. That's going to be a major transition so I'll need to rethink the import/export functionality.

Can you post your settings file? v0.12.16 removed some settings and added some new ones.

[2019-09-22 16:37] n8v8R commented on #244
[chameleon_settings.zip](https://github.com/sereneblue/chameleon/files/3639959/chameleon_settings.zip)

[2019-09-22 16:51] sereneblue commented on #244
Are you trying to import your settings into an older version of Chameleon (probably v0.12.15)? I didn't encounter an issue when trying to import with the latest version.

[2019-09-22 16:58] n8v8R commented on #244
Maybe what happened, though it would seem inexplicable, that WX been updated to v0.12.16 and the profile been exported without restarting the browser and then imported into other browser installations where the WX been updated to v0.12.16 as well but not having restarted the browsers.

Having restarted all browser instances the import then worked.... Pardon the bother... :man_facepalming:

[2019-09-22 16:58] #244 closed

[2019-09-22 17:01] sereneblue commented on #244
No worries. :) I'll add a validation to check the version before importing. Thanks for reporting this issue!

[2019-09-27 22:11] jrclooney opened #246 "Does not support Dark Mode"
Hi, I'm using the most current version of Chameleon and LOVE IT. But it doesn't work quite well. It has some interactions which causes it to possibly turn off my dark them in Windows. I am using Windows High Contrast dark theme in Windows 10 for instance and it causes visits to pages to turn to a white background. I want my screen to remain dark consistent with my theme.

I think it also has somet

[2019-09-28 03:36] sereneblue commented on #246
Hi @jrclooney,

I don't use  the high contrast feature on Windows so I'm having a little difficulty following you. What exactly is Chameleon breaking? Does it break if you use a clean install (without any settings changed)? Can you post your exported settings and sites that Chameleon breaks for you?

[2019-09-29 19:45] jrclooney commented on #246
Am closing ticket for now. Seems too many plugins were interacting with the plugin.

[2019-09-29 19:45] #246 closed

[2019-10-09 02:14] sereneblue commented on #170
I don't think it's possible to reliably spoof the viewport with WebExtensions so I'm not sure if it's worth putting work into addressing it.

I've done some experimentation with possible screen sizes. There isn't a consistent value for a browser. I was able to obtain some data using virtual machines, however, the current Chameleon injection API is ill equipped to handle variations in the screen re

[2019-10-09 02:14] #170 closed

[2019-10-12 18:28] monterrr opened #249 "UI moving left and right non stop after clicking"
This happens after changing layout.css.devPixelsPerPx config from -1 to 1.25

[2019-10-13 17:51] sereneblue commented on #249
Hi @monterrr,

That's an interesting UI bug. It doesn't appear when I set the value to 1.24 or 1.26, so I'm curious why 1.25 is giving issues. I'll try to have this fixed as soon as I can.

[2019-10-13 18:42] #249 closed

[2019-10-15 12:45] Iquaridys opened #250 "Recaptcha can't solve if chameleon active"
When surfing the website and using google recaptcha, it can't be finished.

when i try to deactivate chameleon, the capcha resolves. (I've tried several times)

how to use chameleon without breaking google recaptcha?

[2019-10-15 23:03] sereneblue commented on #250
Hi @Iquaridys, can you post your exported settings? There was an issue in the past with script injection, but if I recall correctly, it was addressed.

[2019-10-18 04:17] Iquaridys commented on #250
no change in about: config , no white list
![Capture3](https://user-images.githubusercontent.com/23011078/67065513-9a442600-f13c-11e9-8d01-8c7d7de30d7b.PNG)
![Capture4](https://user-images.githubusercontent.com/23011078/67065514-9a442600-f13c-11e9-82dd-bf5d840488f8.PNG)
![Capture5](https://user-images.githubusercontent.com/23011078/67065515-9a442600-f13c-11e9-9254-dfd0367be1bc.PNG)
![Capture](http

[2019-10-19 00:56] sereneblue commented on #250
@Iquaridys

Thank you for posting your settings. For future reference, you can export your settings by navigating to the tab with the question mark.

I've done some testing and it seems it's profile spoofing that is causing an issue.  I'll take a thorough look at this and will hopefully have an update soon to resolve this issue; I imagine other users also affected by this.

[2019-10-27 22:20] sereneblue commented on #243
Hi @andcha88,

I've looked into this and it turns out it's not the Navigation Timing API that's displaying the time, it's using the regular Javascript Date API. Due to compatibility issues with third-party libraries that extend the Date object, Chameleon only spoofs the Date when it's initialized without any parameters. This is generally what's used for fingerprinting, however, this doesn't protec

[2019-10-27 22:20] #243 closed

[2019-10-31 10:56] slrslr opened #255 "Twitter animation/video not played"
- [-] I hope i am running the latest version of Chameleon. Mine is v0.12.19
- [-] I checked to make sure that this issue has not already been filed

## Expected Behavior
play videos on twitter

## Current Behavior
not playing, instead when clicking the video image (try at https://twitter.com/jack/status/1189634360472829952), it then show some grey placeholder instead of video playback

## Relevant

[2019-11-03 01:20] sereneblue commented on #255
Hi @slrslr,

I'm looking into this issue. If I recall correctly Twitter has been a bit problematic for Firefox users, usually because of tracking protection. However, since you're able to resolve this issue using the whitelist, it seems the cause lies elsewhere. It's probably an issue with profile spoofing.

[2019-11-06 21:42] TheFrenchGhosty opened #257 "[Feature Request] Settings to automatically exclude old browsers"
Some websites (including Github) display warnings about older browser that are no longer supported

Example:

![chameleon](https://user-images.githubusercontent.com/47571719/68340174-d3d5d480-00dd-11ea-8b26-c295239182b1.png)

It would be nice if there was an setting to automatically exclude them (similar to older version of Internet  Explorer).

[2019-11-07 00:40] sereneblue commented on #257
Hi @TheFrenchGhosty,

You can manually exclude the older profiles from being used. Some more details about how profiles work can be found [here](https://github.com/sereneblue/chameleon/wiki/Profile). Also, you can whitelist a site so that it uses a specific profile.

[2019-11-07 01:19] TheFrenchGhosty commented on #257
I know that I can do it manually, this is why this is a feature request, I'm requesting a way to have an automated way to do it.

[2019-11-07 02:20] sereneblue commented on #257
There isn't a way to really automate this. Since there's only a handful of profiles, it's better to simply exclude the profiles you don't want to use. [v0.20.0](https://github.com/sereneblue/chameleon/projects/1) will improve on the browser profiles (more up to date) so you'll encounter these issues less often.

[2019-11-11 20:46] 0pLuS0 opened #258 "What To Do - TCP/IP Stack OS Fingerprint?"
Hello,

What can we do in regards to the TCP/IP Stack and OS Fingerprinting?

Chamelon doesn't seem to address this issue, not even sure it can be on the browser level.

From what I read in Linux this is suppose to work, for sysctl but not really sure?

```net.ipv4.ip_default_ttl = 128```

For Linux users is there anything we can do to spoof the TCP/IP Stack?

THANKS

[2019-11-11 23:15] sereneblue commented on #258
As you've deduced, Chameleon can't address this issue. Although I haven't used this tool it may be helpful: https://github.com/segofensiva/OSfooler-ng.

[2019-11-11 23:16] #257 closed

[2019-11-13 01:10] 0pLuS0 commented on #258
@sereneblue thanks for that link, this looks like, I'll look into it.

[2019-11-13 03:46] sereneblue commented on #258
Using the Tor Browser gives you most of the benefits of using TOR because you'd have a non-unique fingerprint. Tor Browser and virtual machines don't spoof your TCP/IP stack OS fingerprint so outside of modifying your kernel, the tool I linked above is probably the simplest way to address this particular issue.

You could also try daisy chaining some VPNs instead of using Tor.

[2019-11-13 04:20] 0pLuS0 commented on #258
Well I can't get python-nfqueue to compile and honestly I'm just not in the mood to try and figure it out...

So to compile and build this, it's a bit of a pain, that is why I brought up TOR, it looked like it might do the trick.

Because when I used TOR and went to this SITE: https://www.browserleaks.com/ip

The OS was spoofed...

Hmm

[2019-11-14 01:23] sereneblue commented on #258
I did read something where using a proxy changed the fingerprint, so maybe that has something to do with it. I guess if you're using a VPN/Proxy (I suppose this includes Tor?) the fingerprint doesn't matter because it probably won't be your real fingerprint anyway.

[2019-11-16 00:13] 0pLuS0 commented on #258
Yes a Socks 5 Proxy is suppose to help.

I'm a Geek, meaning I get the deal when it comes to security, nothing is the "One" soultion to address and fix the problem, security and things like OS Fingerprint take several approaches and various layers to fix, but many people are not Geeks and are just your average users that don't understand this.

So with something like Chameleon and the OS Spoofing

[2019-11-16 00:28] sereneblue commented on #258
Thanks for the valuable feedback. This is something I definitely am going to address when [v0.20.0](https://github.com/sereneblue/chameleon/projects/1) is released. After the extension has been rewritten, I plan to work on a user friendly site that will replace the current wiki and expand it with additional resources.

[2019-11-16 00:28] #258 closed

[2019-11-16 05:37] 0pLuS0 commented on #258
@sereneblue YES ```additional resources```, that sums it up very nicely, just what we need.

I really appreciate it!

THANKS

[2019-11-23 12:56] martha833 opened #260 "Custom User Agent - Custom Screen Size Spoof"
when I insert a custom user agent desktop, I can't change the screen size spoof.

For example, I insert custom user agent desktop of my choice and then I go to modify the custom screen size by entering any value. The resolution always remains on 1440 x 900. Why doesn't it work? Thanks.

[2019-11-23 16:49] sereneblue commented on #260
HI @martha833,

Is script injection enabled? If so, can you post your [settings](https://github.com/sereneblue/chameleon/wiki/About)?

[2019-12-03 02:24] mondocane80 opened #262 "Can't add http://rarefilmnet.chatango.com/ to my whitelist"
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Expected Behavior
Expect to whitelist _rarefilmnet.chatango.com_

## Current Behavior
Will not allow that syntax to be added to the whitelist.  I get a red line around the box and it will not save.  It will let me add _chatango.com_

[2019-12-04 00:35] sereneblue commented on #262
Hi @mondocane80,

Thanks for opening an issue for this.

I'm happy to say that this will be addressed when v0.20.0 is released. :)

Can you post your [settings](https://github.com/sereneblue/chameleon/wiki/About)? I'm not sure which setting is causing issues for you. I'm also curious why you're getting a validation issue when using `rarefilmnet.chatango.com`. I was able to create a whitelist rule

[2019-12-04 13:28] WPFilmmaker opened #263 "chameleon breaks dropbox"
## Expected Behavior
You can click on files to see them/download folders etc.
## Current Behavior
Clickin on files or folders does nothing, disabling chameleon fixes the issue
## Context (Environment)
FF 70.0.1 (64-bit) Linux

[2019-12-04 23:11] mondocane80 commented on #262
As you can see by the screenshot, the rectangular box is surrounded by a red border when I try to create.

![whitelist](https://user-images.githubusercontent.com/54923004/70189502-7b382e00-16c1-11ea-8db8-810d346d85cd.JPG)

[2019-12-05 00:34] sereneblue commented on #263
Hi @WPFilmmaker,

Can you post your settings?

[2019-12-05 00:47] sereneblue commented on #262
Hm, that's interesting.

Can you post your settings? It can be found on the about tab (tab with the question mark). It'll give me a better picture of where things are going wrong.

If your input matches any of the conditions below then the rule is not saved:

- Empty input
- It already exists
- A regular expression to validate the URL.

It seems the second condition is the cause of the whitelist r

[2019-12-05 13:00] WPFilmmaker commented on #263
@sereneblue sorry had not included them as I thought they would be too long.
I pasted the parts excluding the whitelisted sites:
{
  "excluded": {
    "win": [
      true,
      true,
      true,
      false,
      true,
      true,
      true,
      true,
      true,
      true,
      true,
      true,
      true,
      true,
      true,
      true
    ],
    "mac": [
      true,
      true,

[2019-12-05 19:50] mondocane80 commented on #262
You're right, it was the second one.  I still had rarefilm.net in there.  I deleted that and was then able to add rarefilmnet.chatango.com

However, the frame for that chat window in that website still isn't showing.

Here's the ? tab

![setting](https://user-images.githubusercontent.com/54923004/70268445-79787400-176e-11ea-88c8-5817064610c5.JPG)

[2019-12-06 00:20] sereneblue commented on #262
@mondocane80 Glad to hear that validation error wasn't a bug. This is another area of improvement for v0.20.0; helpful error messages.

Can you post the file that's created when you click the export button under settings?

[2019-12-06 00:48] sereneblue commented on #263
Hi @WPFilmmaker,

Thanks for posting your settings. I tested your configuration and it seems Dropbox doesn't load when you use a spoofed timezone. Can you try disabling that and let me know if you're still experiencing issues? If so, it's probably another script injection setting that's at fault. You may want to whitelist dropbox.

[2019-12-06 22:34] mondocane80 commented on #262
Here's the file

[chameleon_1575671388864.zip](https://github.com/sereneblue/chameleon/files/3934283/chameleon_1575671388864.zip)

[2019-12-07 01:20] sereneblue commented on #262
Thanks for posting your settings. Unfortunately, I'm still not able to replicate the issue. Loading rarefilm.net still shows the chat box. I'm not sure if Chameleon is conflicting with another extension or if's something else. Here are a few things you can try so that I can try to narrow down what's causing issues for you:

- Disable script injection. This is usually the cause of most issues with

[2019-12-07 14:10] WPFilmmaker commented on #263
@sereneblue disabling script injection solves the issue, so i will probably whitelist dropbox. One thing I never understood is, when such breaks happen, is it because of chameleon's implementation or the websites? Is there room for improvements on chameleon side, which could reduce the number of breakages or it is mostly a websites' issue you have no control over?

[2019-12-08 02:40] sereneblue commented on #263
@WPFilmmaker It's a mix of both. Some websites depend on some features that may not behave as expected or available after changing some Chameleon settings. If a website has issues with script injection settings (audio context/client rects/timezone), it's probably best to whitelist it.

Timezone spoofing is a bit of a hack that can interfere with libraries that depend on the Date object. Ideally, t

[2019-12-08 02:40] #263 closed

[2019-12-09 00:04] mondocane80 commented on #262
Changing those three settings didn't do anything.  The frame is still hidden.

Here are my console settings

![console](https://user-images.githubusercontent.com/54923004/70398869-94a4e700-19ed-11ea-9c05-0402e2eaefaa.JPG)

[2019-12-09 00:50] sereneblue commented on #262
@mondocane80 Did you change the cookie policy?

I was not able to load the chat window using the `block 3rd party` or `block all` options. Unfortunately, blocking cookies can break sites so it's best to use the `reject trackers` option. Whitelisting wouldn't be of help here because the cookie policy is a browser level configuration. If you'd like more control over cookies, I recommend using [uMatr

[2019-12-09 21:11] mondocane80 commented on #262
That actually worked.  Switching from "Allow Third Party From Visited" to "Reject Trackers" brought the frame back again.

I hope v0.20.0 will solve most of the issues brought up here.

Thanks!

[2019-12-10 01:36] sereneblue commented on #262
@mondocane80

Happy to hear you were able to get it working!

Thank you for submitting this issue; there's a few things its brought to my attention that will probably land in v0.20.0. I hope to have more details available soon to collect feedback from users after I have a beta version available.

[2019-12-10 01:36] #262 closed

[2019-12-12 16:55] n8v8R opened #264 "ETag tracking preventation working?"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
## Context (Environment)

* W10 Pro x_64 v1909 b18363.535
* FX x_64

[2019-12-13 01:06] sereneblue commented on #264
Hi @n8v8R,

Your hunch is right; the developer console does not show the actual headers that Firefox will use. I ran into this issue as well while working on that feature but found the reason why it was designed that way [here](https://medium.com/requestly-docs/list-of-headers-not-allowed-to-be-modified-by-chrome-extensions-c850b5c02fff). This is covered by one of the [test cases](https://github.c

[2019-12-13 01:06] #264 closed

[2019-12-13 12:12] n8v8R opened #265 "[feature suggestion] deal with client hints"
Unless I missed it by perusing the WX's source code I would reckon that client hints headers could provide (limited) information about the user client and thus aiding profiling efforts.

Perhaps worthwile to consider adding to the WX -> I would probably **suggest to cancel related request headers** unequivocally since such request headers could even be opted in by a HTML meta element with the http

[2019-12-13 15:51] n8v8R commented on #265
As far as I could gather the remote server can opt in the client into revealing host information with the following request headers:

* Device-Memory <sup>**[1]**</sup>
* DPR
* Viewport-Width
* Width
* Downlink
___
<sup>**[1]**</sup> https://github.com/w3c/device-memory#the-header

[2019-12-15 10:59] n8v8R opened #266 "[rfi] coexistence RFP and script injection"
Reading from this WX's wiki

brought me up short on what are the implications:

- if both, RFP and script injection are enabled, there would be apparent clashes, e.g.
  - spoofing time zone
  - spoofing audio context

and thus this RFI:

* which one takes precedence - RFP or the WX's script injection?
* does either inhibits the other in their functioniality, e.g. with RFP enabled the WX's script i

[2019-12-15 21:57] Kraxys commented on #266
I don't agree with you on this  particular point. It seems rather than Chameleon takes precedence on RFP, but RFP is still working concerning the features not handled by Chameleon. For example, with RFP and script injection checked, with faking screen size to 1980x1080, and not faking timezone, I get on various tests sites 1980x1080 for screen size (chameleon takes precedence) , but for timezone I

[2019-12-15 22:51] sereneblue commented on #266
Hi @n8v8R,

I suggest that users not mix RFP and Chameleon's script injection features because they're fundamentally different. RFP (ideally) tries to make a user's fingerprint less unique similar to how the Tor Browser works. Chameleon allows you to have many fingerprints. RFP was provided as an option to make it more convenient for users to enable it with some of the other features.

Script inje

[2019-12-15 23:05] sereneblue commented on #266
Hi @n8v8R,

I suggest that users not mix RFP and Chameleon's script injection features because they're fundamentally different. RFP (ideally) tries to make a user's fingerprint less unique similar to how the Tor Browser works. Chameleon allows you to have many fingerprints. RFP was provided as an option to make it more convenient for users to enable it with some of the other features.

Script inje

[2019-12-15 23:13] sereneblue commented on #265
Thanks for bringing this to my attention; it's the first time I've heard about this. I don't have any plans to add new features to the current version of Chameleon, however, this does look like something that will appear in v0.20.0. ;)

[2019-12-16 08:03] n8v8R commented on #266
closing since the RFI been satisfied.

Just pointing out that `[navigator] hardwareConcurrency` however is not exhibiting a spoofed RFP value with the WX's script injection enabled.

[2019-12-16 13:20] Thorin-Oakenpants commented on #266
It depends on how RFP's implementation works, so you would have to test it: e.g:
- extension wins: RFP spoofs UA (HTTP header and navigator objects), but an extension can override those
- RFP wins: canvas returned as a 10x10 white square - extensions don't get to see the canvas request: but if you allow the canvas permission in site permissions, *then* the extension can see it and do what it wants

[2019-12-16 14:33] Thorin-Oakenpants commented on #266
PS: also, toggling RFP on and off is not ideal. There are some cases (rare AFAIK) where changes don't take affect until the next restart

An example is Date/Time and timezone spoofing - see [1491343#c8](https://bugzilla.mozilla.org/show_bug.cgi?id=1491343#c8). Not sure if this is OS specific. This same issue (different cause) came up when they were plugging the locale leak in FTP (it was being deb

[2019-12-17 00:06] #266 closed

[2019-12-24 00:27] sereneblue commented on #265
Hi @n8v8R,

I looked into this a bit and it seems Firefox [doesn't support](https://caniuse.com/#feat=client-hints-dpr-width-viewport) client hints at the moment. I don't think Mozilla will change their stance anytime soon so it'd be a bit premature to add this functionality. If the situation changes, I'll update Chameleon to handle these headers.

[2019-12-24 00:27] #265 closed

[2019-12-24 02:09] Kraxys opened #268 "Site failing to load"
The site cloud.unms.com fails to load: I get only a blank page.  Tests are showing that the culprit is timezone spoofing.

Chameleon 0.12.20 on FF 71, Windows7/64

[2019-12-27 02:28] #268 closed

[2019-12-27 02:28] sereneblue commented on #268
Hi @Kraxys,

Thanks for reporting this issue. It was caused by a bug in timezone spoofing. It's patched in v0.12.21.

[2019-12-29 12:28] Saadi1988 opened #269 "Block Scripts"
using Spoof IP & Profile doesn't work on some websites. and WebRTC can't be blocked. and for example stats counter of [exampleblogservice].com shows our real info.
One of the deficiencis of this Chameleon is not having a script blocker. yea, i ican use extensions like NoScript & UMatrix. but they have not Ability to separate domain and subdomains. with "Whitelist" feature in Chameleon we can do th

[2019-12-29 18:18] sereneblue commented on #269
Hi @Saadi1988,

Blocking Javascript is outside the scope of Chameleon. uMatrix should get you pretty far because you can block/filter things at a subdomain level.

![image](https://user-images.githubusercontent.com/14242625/71560874-e3e9a080-2a0a-11ea-9cd3-5e2739753b4c.png)

The Spoof IP option of Chameleon **does not** spoof your real IP. It adds the `X-Forwarded-For` and `Via` HTTP headers to yo

[2019-12-29 18:21] Saadi1988 commented on #269
yes, i have disabled WebRTC in Chameleon.

[2019-12-29 18:30] Saadi1988 commented on #269
uMatrix can't seperate main domain and subdomain. for example i want block scripts of "*.blogsky.com"  but i don't want uMatrix to block scripts in "blogsky.com/cpanel". because i need it.

[2019-12-29 20:59] sereneblue commented on #269
If you want to hide your IP, I suggest you use a VPN service.

https://fpn.firefox.com/
https://protonvpn.com/
https://thatoneprivacysite.net/#detailed-vpn-comparison

Disabling WebRTC doesn't hide your IP. It just prevents your real IP from leaking when using a VPN.

That's an interesting use case but unfortunately blocking scripts isn't going to be added to Chameleon.

[2019-12-31 14:05] WPFilmmaker opened #270 "Chameleon breaks fb lives"
# Prerequisites
- [x ] I am running the latest version
- x[ ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed

## Expected Behavior
You can watch lives without issues

## Current Behavior
Pressing the button will just reload the video without playing it.

## Relevant settings
 https://privatebin.net/?218bff94e8695199#8wBxWLjQ

[2019-12-31 14:18] WPFilmmaker commented on #255
@sereneblue @slrslr is this still relevant? I tried playing a video on twitter and with latest chameleon it works. The only issues is the annoying audio distortion due to firefox's bug....I assume slrslr you experience it too right?

[2019-12-31 15:36] slrslr commented on #255
@WPFilmmaker hi, i just removed Twitter from the whitelist and tried to play a few videos and i think that it plays without problem. I do not "see" any issue with sound. (having Firefox beta - 72.0) also images displays OK. For me the problem fixed.. thank you

[2019-12-31 16:13] WPFilmmaker commented on #255
@slrslr glad it works. So you have no been affected by this: https://github.com/sereneblue/chameleon/issues/127 ? If so it is great! I am on FF71 and still have it but maybe they fixed in the next version.

[2019-12-31 16:27] slrslr commented on #255
@WPFilmmaker the issue submitter is on Linux, i am on Windows with Firefox and "Ungoogled Chromium" and i do not remember having audio problem. Should this issue be closed (i no longer see the issue on WIn10 and FF beta 72.0)?

[2019-12-31 16:44] WPFilmmaker commented on #255
@slrslr gotcha! I think you can close this as it is fixed, even if it closed someone can write and can be reopened in the future.

[2019-12-31 16:47] #255 closed

[2020-01-02 04:20] sereneblue commented on #270
Hi @WPFilmmaker,

I don't have access to a Facebook live stream so I can't debug this issue, but I'm pretty sure it's related  related to script injection, most likely timezone spoofing. Can you post the errors in the output from the developer console during a live stream?

[2020-01-03 17:57] WPFilmmaker commented on #270
I don't have access to such live now as well, Next time I have chance i will do as you said and post the errors;)

[2020-01-04 01:03] sereneblue commented on #270
Hi @WPFilmmaker,

Thanks for looking into this. Unfortunately, that error message isn't too helpful. Can you try manually toggling the script injection features to see which one is causing issues? It may be best to whitelist FB live streams for now.

[2020-01-08 14:34] WPFilmmaker opened #272 "chameleon breaks whatsapp web"
# Prerequisites
- [ x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [ x] I checked to make sure that this issue has not already been filed

## Expected Behavior
Whatsapp web (https://web.whatsapp.com/) works as usual
## Current Behavior
The site does not work and throws: "Sorry, something went wrong. We're working on getting this fixed as soon as we can.

[2020-01-09 01:11] sereneblue commented on #272
Hi @WPFilmmaker, did you change any settings recently? I don't use WhatsApp, but I'm sure this is a script injection issue. Can you take a look at the developer console to see if there any errors appear? If there's nothing to be found there, can you try manually toggling some of the script injection features to narrow the possible cause?

[2020-01-10 13:25] WPFilmmaker commented on #272
@sereneblue Actually I tried disabling injection script and reload the page but it throws the same error :/
The only way to access the page is to disable chameleon (at the least so far).

I tried debugging and all I got were these errors (I tried enabling/disabling script injection):
https://imgur.com/phCCYdl

I don't know if they are of any help-

[2020-01-10 23:54] sereneblue commented on #272
@WPFilmmaker Thanks for testing. It seems it's an issue with the headers, rather than script injection. Can you try unchecking the `Spoof Source Referer` option?

[2020-01-14 08:50] patch-work opened #273 "navigator.ProductSub"
## Context (Environment)

FF 68.4.1esr on MacOS

## Relevant settings

FF 68esr on Win10

## Current Behavior

navigator.ProductSub = 20010725

ref. https://github.com/sereneblue/chameleon/blob/8ad77722e1b23acde3fa5aa6c8bcb53f5a09638d/src/js/lib/spoof.js

## Expected Behavior

navigator.ProductSub = undefined

ref. https://developer.mozilla.org/en-US/docs/Web/API/Navigator/productSub

test. https:

[2020-01-15 04:00] sereneblue commented on #273
Hi @patch-work,

Thanks for bringing this to my attention. Seems like Firefox returns `20100101` for this value. This will be fixed in the next update. `undefined` is only for Internet Explorer.

[2020-01-15 04:34] #269 closed

[2020-01-16 02:10] #273 closed

[2020-01-18 03:47] bobsburgers opened #274 "Failing webbrowsertools Timezone test. iframe.contentWindow"
## Expected Behavior
To change the Time zone to match my ip when `[normal] iframe.contentWindow` is the selected option.

`https://webbrowsertools.com/timezone/`

It works for all 4 of the other options. including the two he mentions always work

## Current Behavior
It returns my actual timezone

## Relevant settings

I removed my whitelisted sites. So idk if that broke it.
`{
  "excluded": {

[2020-01-18 15:16] koalarosa commented on #258
Hi i tried some firefox addons for vpn and change the TCP/IP Stack OS Fingerprint, tor browser change too the TCP/IP Stack OS Fingerprint, chameleon do not change.

I add a site to test witch.valdikss.org.ru

If i have windows 7 installed and i use firefox and Chameleon

- With Firefox and Chameleon active show Windows 7 - 8
- With Tor Browser show like os linux and change usually (probably detect

[2020-01-18 15:19] koalarosa opened #275 "TCP/IP Stack OS Fingerprint it's possible spoofing ?"
Hi i tried some firefox addons for vpn and change the TCP/IP Stack OS Fingerprint, tor browser change too the TCP/IP Stack OS Fingerprint, chameleon do not change.

I add a site to test witch.valdikss.org.ru

If i have windows 7 installed and i use firefox and Chameleon

    With Firefox and Chameleon active show Windows 7 - 8
    With Tor Browser show like os linux and change usually (probably de

[2020-01-18 15:59] koalarosa opened #276 "Windows Mobile Phone Useragent request to add"
Hi

Can you add Windows Mobile Phone Useragent category like in Ras ?

In Chameleon I do not see any user agent of this category

This is the image of ras, these user agent can be used with Windows OS

[https://i.imgur.com/7CL6hUL.png](https://i.imgur.com/7CL6hUL.png)

Thanks

[2020-01-18 16:06] koalarosa commented on #260
@sereneblue

It's possibile in custom useragent to add all fileds to set the other values to spoof ?

This is an image of another addons where you can add and edit all value to spoof
[https://i.imgur.com/WNzkEyZ.png](https://i.imgur.com/WNzkEyZ.png)

Here the link of addon
addons.mozilla.org/it/firefox/addon/user-agent-string-switcher/

Without addition field custom spoofing is not good and will b

[2020-01-18 16:43] sereneblue commented on #275
Hi @koalarosa,

You've commented on a similar issue about this here:
https://github.com/sereneblue/chameleon/issues/258

If you're using a VPN/proxy, your TCP/IP fingerprint can change. However, Chameleon doesn't offer that functionality, and because it's a WebExtension there's nothing that I can do to spoof it.

[2020-01-18 17:20] sereneblue commented on #260
Hi @koalarosa,

If you're using a user agent for a popular platform/browser like Firefox/Chrome/etc, those values will automatically be injected for you. I'll be streamlining how profile injection works so custom user agent support will be removed in v0.20.0. I'm open to adding common profiles that may be missing if there's support behind it like some of the Chromium-based browsers, Brave and Viva

[2020-01-18 17:23] sereneblue commented on #276
Hi @koalarosa,

I did not add Windows Phone or the other platforms to Chameleon because they're not as popular as they were while RAS was around. Chameleon's mobile spoofing will improve in v0.20.0; for each mobile profile, there's a variety of device fingerprints that could be used so it should offer some more diversity for mobile profiles.

[2020-01-18 17:24] sereneblue commented on #274
Hi @bobsburgers,

This is something I've noticed while I was working on v0.20.0's timezone spoofing. It seems some sites have updated their tests. I'm actively working on a solution for this.

[2020-01-19 17:11] koalarosa commented on #276
Hi @sereneblue

When will be publish chameleon v0.20.0 ?

Thanks for support

[2020-01-19 17:17] koalarosa commented on #275
Hi @sereneblue

I can't find defense from TCP/IP fingerprint, I use openvpn vpn associated with firefox and chameleon but TCP/IP fingerprint always detects the operating system accurately.

I read from you a solution to combine more vpn but i do not know how i can do this, can you help me to try this solution please ?

Do you know if I create a virtual machine (Virtualbox) with different OS if TCP

[2020-01-19 17:23] koalarosa commented on #250
Hi @sereneblue

I have notice about this, when i use chameleon Recaptcha becomes very difficult and is required numerous times, it seems that it detects something and increases the level of difficulty, sometimes even 10 times requires that it be completed despite it has always been completed correctly. especially with mobile profiles it seems that it is even more difficult to complete it and even

[2020-01-19 18:51] sereneblue commented on #276
Hi @koalarosa,

There isn't a definite date yet but it should be released before the end of March. I'll try to get a beta out by next month for users to test. You can follow the status of progress of v0.20.0 [here](https://github.com/sereneblue/chameleon/projects/1).

[2020-01-19 18:51] #276 closed

[2020-01-19 22:37] sereneblue commented on #250
Hi @koalarosa,

It's a bit difficult to test but I think the only solution is for recaptcha urls/iframes to be permanently exempt from Chameleon's spoofing, injection and headers. I'm still experimenting but I don't think I'll have anything ready for a v0.12.x release.

[2020-01-20 00:44] sereneblue commented on #275
There is a tool I mentioned in the other thread, [OSfooler-ng](https://github.com/segofensiva/OSfooler-ng). I haven't used it but apparently it can spoof the TCP/IP fingerprint. If you're using Windows, you may be able to tunnel your network traffic through a small Linux virtual machine to spoof your fingerprint.

[2020-01-20 00:52] koalarosa commented on #276
Thanks

[2020-01-20 17:59] koalarosa commented on #260
Thanks

[2020-01-20 18:02] koalarosa commented on #275
Hi @sereneblue
OSfooler-ng seem to working with linux, I know Windows only, if you tell me if i can use OSfooler-ng on Windows i'll happy.

Can you give me more information about the tunnelling solution you have indicated to me?

Thanks

[2020-01-20 18:17] #260 closed

[2020-01-20 21:36] sereneblue commented on #275
Hi @koalarosa,

If you're using Windows and a SOCKS5 proxy, your OS fingerprint will most likely appear as Linux. Some details about that can be found here: https://xbuba.com/questions/47797151

You could try creating a Linux virtual machine with a dedicated network adapter and routing all your traffic through it. You'd be able to use OSfooler-ng to spoof your fingerprint.

There's not much help I

[2020-01-23 10:17] WPFilmmaker opened #277 "[acknoledgement]This extension isn’t monitored by Mozilla. Make sure you trust the extension before you install it"
Today I noticed that on mozilla addons page the following message appear on chameleon's page. Is there any way you can have it monitored by mozilla? I think, given this is a privacy addon, that message could scare away potential users, which would be a pity :/

[2020-01-23 10:20] WPFilmmaker commented on #272
@sereneblue sorry for the late reply! I tried disabling spoof source referer but reloading nothing changes :/

This is how the page appear: https://imgur.com/gLY1l9W

[2020-01-23 13:30] WPFilmmaker commented on #272
I tried adding the site to the whitelist and reload, but the page it is still broke unless i disable chameleon :/

[2020-01-24 00:17] sereneblue commented on #277
Hi @WPFilmmaker,

Every non-recommended extension has that warning if I recall correctly. It is unfortunate but there it isn't anything I can do about it. After the release of v0.20.0, I'll be creating a user friendly site that people can link to instead to make Chameleon more approachable to casual users.

[2020-01-24 00:17] #277 closed

[2020-01-24 00:18] sereneblue commented on #272
Thanks for testing @WPFilmmaker. I'll find a way to test this and resolve the issue for you.

[2020-01-29 03:50] Iquaridys opened #279 "[REQ] Save data"
can you add this in Headers,
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Save-Data

[2020-01-30 00:38] sereneblue commented on #279
Hi @Iquaridys,

This header falls outside of the scope of what Chameleon offers. Is there any particular reason you want this header added? There are some extensions out there that can help you if you want to add this header to all requests.

[2020-01-30 01:23] sereneblue commented on #279
Hi @Iquaridys,

This header falls outside of the scope of what Chameleon offers. Is there any particular reason you want this header added? There are some extensions out there that can help you if you want to add this header to all requests.

[2020-01-31 01:26] Iquaridys commented on #279
in my country the internet is still developing I need to buy to an ISP around $10 for 10GB in 1 month, and this 3G network is sometimes 4G in my city, not fast compared to other countries.

Based on that and also to reduce the number of add-ons users I want Chameleon to be able to add it. And of course this is just a suggestion, considering I use chameleon too

[2020-01-31 03:01] sereneblue commented on #279
I see. I won't add the header to Chameleon since it's a bit outside its scope but there's an existing extension that does what you're looking for: https://addons.mozilla.org/en-US/firefox/addon/save-data/. You may be able to save more data by using an IE11 (lighter pages for some sites) or mobile profile.

[2020-02-05 00:38] #279 closed

[2020-02-05 00:38] #275 closed

[2020-02-05 02:15] sereneblue commented on #274
Hi @bobsburgers,

This issue is resolved in v0.20.0. It'd take a bit of time to backport the changes to the current version of Chameleon and with the next major release of Chameleon coming soon (March), I'd rather use the time to get it out in a timely manner instead.

[2020-02-05 02:15] #274 closed

[2020-02-06 23:16] slrslr opened #288 "Chameleon breaks the Zeronet"
Hello,

i am running Chameleon v0.12.24 on Firefox beta (v.73.0) and Windows 10.
Here is [my Chameleon configuration](https://privatebin.net/?2c8f95742d12a82d#3e6Msnv3qB3JtkM1MP3qSBZJmb5NUBn7dbpKQBBRQSKu).

In recent days i have found that https://zeronet.io web interface stopped properly working.
When i disabled Chameleon, it started working again. Here are more details please: https://github.com

[2020-02-07 01:09] sereneblue commented on #288
Hi @slrslr,

Can you post the password for the pastebin link?

[2020-02-07 08:13] slrslr commented on #288
@sereneblue i am sorry, it is "cc"

[2020-02-09 14:45] slrslr opened #289 "Recaptcha questions not loading"
Hello,

Chameleon v0.12.24, Firefox beta (73.0)

anyone else having trouble with recaptcha? it show up, i click it, but it will not load the antispam challenge.

Example page with recaptcha: https://localbitcoins.com/accounts/login/

When i whitelisted the site in Chameleon, recaptcha started working.

If needed, here is [my Chameleon configuration](https://privatebin.net/?2c8f95742d12a82d#3e6Msnv

[2020-02-09 19:20] sereneblue commented on #288
Hi @slrslr,

There was an experimental change that was accidentally included in the previous version while I was building the extension. Some of the script injection changes that are present in v0.20.0 don't seem to play nicely with ZeroNet. I've excluded localhost URLs from script injection so it's resolved in v0.20.0 as well. Thanks for reporting this issue! I will be releasing v0.12.25 soon.

[2020-02-09 19:20] #288 closed

[2020-02-09 19:46] sereneblue commented on #289
HI @slrslr,

v0.12.25 resolves this issue. This was caused by the issue I mentioned [here](https://github.com/sereneblue/chameleon/issues/288#issuecomment-583882526).

[2020-02-09 19:46] #289 closed

[2020-02-09 19:49] sereneblue commented on #272
HI @WPFilmmaker,

Can you test with v0.12.25 and let me know if you're still encountering an issue. I'm curious if [this](https://github.com/sereneblue/chameleon/issues/288#issuecomment-583882526) was the cause.

[2020-02-09 20:08] WPFilmmaker commented on #272
@sereneblue I updated and... it works! Closing this:)

[2020-02-09 20:08] WPFilmmaker commented on #288
This also solves the issue of whatsappweb!

[2020-02-11 09:12] maxiedaniels opened #290 "Possible to modify to automatically enable after install?"
I’ve tried modifying the background.js file to startup with randomDesktop by default. However after launching a fresh Firefox and I installing the plugin, the UI shows random desktop selected, but the UA doesn’t actually spoof until I hit refresh on the UI.

Why is this?

[2020-02-12 04:24] sereneblue commented on #290
Hi @maxiedaniels,

Thanks for opening this issue; you've found a bug! Default settings weren't properly being set by Chameleon. I do have a fix for this so it will be resolved in the next update. Just curious, are you trying to use Chameleon with a browser automation library?

[2020-02-14 01:14] #290 closed

[2020-02-21 05:00] sereneblue opened #291 "Chameleon v0.20.0 alpha is now available"
Hi Chameleon community,

I'm excited to announce that the first alpha build of Chameleon v0.20.0 is now [available](https://github.com/sereneblue/chameleon/releases). There is still much work to be done but I'd like to collect some feedback and suggestions before a stable release is rolled out (ETA late March). **Please do not use Chameleon with your existing installation.** Some important feature

[2020-02-23 12:25] WPFilmmaker commented on #272
@sereneblue I am afraid the issue reappered :/ Any ideas?

[2020-02-23 20:31] sereneblue commented on #272
@WPFilmmaker I don't have any ideas. There's only a few things that changed in between v0.12.25 and v0.12.26 but the changes shouldn't have affected much. I'll take another look at it again.

[2020-02-27 10:40] tmxd09887 opened #294 "browserleaks.com Canvas Fingerprinting test failed when timezone spoof Ip mode enable"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
yes
Chameleon Dev v0.20.0-alpha0
- [ ] I checked the documentation and found no answer
yes
- [ ] I checked to make sure that this issue has not already been filed
yes

## Expected Behavior

##

[2020-02-28 00:40] sereneblue commented on #294
HI @tmxd09887,

Thanks for testing Chameleon v0.20.0. Are you using Canvas Blocker with the profile that you're testing with?

[2020-02-28 01:56] tmxd09887 commented on #294
yes,I installed Canvas Blocker,but disabled when testing

[2020-02-28 04:45] sereneblue commented on #291
Chameleon v0.20.0-alpha1 is now available. It can be installed from the releases tab. I'm not sure yet why manually checking for updates isn't showing a new version is available but this should be resolved in future updates.

#### Changes

- Minor UX improvements for the popups on the options page
- Import/export/reset settings has been implemented

**Note: Importing v0.12.x settings does not curr

[2020-02-28 04:56] sereneblue commented on #294
Can you update to v0.20.0-alpha1 (check the releases tab) and post your exported settings? There may be a bug in the IP rules feature that's causing issues; I haven't thoroughly tested it.

[2020-02-28 05:01] tmxd09887 commented on #294
ok
[chameleon_1582866001777.zip](https://github.com/sereneblue/chameleon/files/4265296/chameleon_1582866001777.zip)

[2020-02-29 00:09] sereneblue commented on #294
Hi @tmxd09887,

Thanks for posting your settings. I've identified the issue is and should have a fix available soon. I hope to release the next version within a few days with a number of bug fixes so this should be resolved in the next update.

[2020-02-29 01:54] tmxd09887 commented on #294
thanks

great job!

[2020-02-29 01:54] #294 closed

[2020-02-29 05:02] sereneblue commented on #291
I've fixed the issue with auto updates. Developer builds should now be able to update correctly.

[2020-03-01 00:14] sereneblue commented on #250
In v0.20.0, ReCAPTCHA is excluded from script injection/header spoofing. This is a slight improvement over the current version because it doesn't spoof the request headers either.

Ideally, this would mean that Chameleon doesn't interfere with ReCAPTCHA at all, however, depending on your settings (first party isolation, tracking protection, etc) you will still have issues with the captcha. ReCAPTC

[2020-03-01 00:14] #250 closed

[2020-03-02 03:02] sereneblue commented on #291
Chameleon v0.20.0-alpha2 is now available.

If you're already using the developer build, it should automatically update. If not, you can install it from [here](https://github.com/sereneblue/chameleon/releases).

#### Changes

- UI fixes
- Improved fingerprint detection
- Improved ReCAPTCHA handling
- Improved IP rules handling
- Fixes related to excluded profiles (iframes)
- Fixes related to white

[2020-03-03 07:49] maxiedaniels opened #295 "Did the format change?"
It seems the format is .ts now instead of .js files, and I can't get Selenium+geckodriver to load the extension.. is there a newer format you've switched to?

[2020-03-04 00:29] sereneblue commented on #295
Chameleon v0.20.0 is written using TypeScript; this requires a build process to get JS source files.

You can try using the xpi from the releases page or you can install NodeJS, checkout the branch, and run `npm run build`. The `dist` folder will contain JS source files.

[2020-03-04 00:29] #295 closed

[2020-03-08 04:30] sereneblue opened #298 "Chameleon v0.20.0 localization"
Hi Chameleon community,

I've added support for localization in v0.20.0. Originally, I intended to port over some of the existing translations but it's a tedious process and it'd take me a few days of work that I'd rather use working on the remaining features to have Chameleon v0.20.0 ready for a late March release. I'd appreciate if the community can tackle some of this work.

If you'd like to he

[2020-03-15 23:01] WPFilmmaker commented on #272
@sereneblue  https://github.com/92lleo/WhatsappWebToGo/issues/16 same issue

[2020-03-17 11:23] dpellegr opened #301 "[feature request] Load a setting file from an external script"
Hi,

I would like to load a setting file from an application external to the browser (eg a python script) which manages a directory of them. What would be the easiest way to accomplish this?

Many thanks!

[2020-03-17 18:56] 92lleo commented on #272
Seems like whatsapp is checking features according to the given UA. I could reproduce the issue mentioned above in WhatsappWebToGo when trying with an older device. The UA I've currently set in the app is the current chrome UA. I changed it to the current Firefox UA and the issue is gone.

[2020-03-18 11:06] WPFilmmaker commented on #272
@sereneblue is leo's adivice helpful for chameleon too? I miss using chameleon but have to keep it disabled due this error :(

[2020-03-18 23:19] sereneblue commented on #272
@92lleo Thanks for the info.

@WPFilmmaker You should whitelist Whatsapp to use a Firefox profile. Sometimes sites do break if you use a Chrome profile (like Youtube).

[2020-03-18 23:56] sereneblue commented on #301
Hi @dpellegr,

I'll be writing a detailed guide for developers about this use case because I think it's pretty useful for certain purposes and there's a few people who have asked something similar in the past.

I figure you're probably most interested in switching between browser profiles and any other additional settings would stay consistent? I've been down this route and it works pretty well. I

[2020-03-19 00:12] sereneblue commented on #291
Quick update:

Chameleon v0.20.0 will be released next month. I want to have the new wiki completed before launch and it's going to take more time than I originally thought.

I'm currently working on screen size and profile spoofing. The next alpha build will be released by the end of this week.

[2020-03-21 17:18] mazbron opened #303 "Load UA from txt file."
Hi,
I have feature request sir,
Is possible to load custom UA from txt file?

Thanks

[2020-03-21 18:06] sereneblue commented on #303
HI @mazbron, no, it's not possible. Just a heads up, custom user agents will be removed in v0.20.0. What is your use case and what custom user agents are using?

[2020-03-23 03:40] sereneblue commented on #291
Hi Chameleon community,

I've begun work on the new wiki: https://sereneblue.github.io/chameleon/. Over the next few weeks, I'll be migrating the current wiki and adding new pages as I wrap up Chameleon v0.20.0 for an early/mid April launch.

Alpha 3 is mostly complete. Migrating settings from v0.12.x is now supported, screen size spoofing mostly works (using the profile option does not), and Chin

[2020-03-23 03:50] sereneblue commented on #272
@WPFilmmaker Are you experiencing an issue after whitelisting WhatsApp?

[2020-03-23 08:52] dpellegr commented on #301
Hi, sorry for the late reply. This is indeed pretty helpful! Thank you!

[2020-03-23 19:32] mazbron commented on #303
@sereneblue Hi, I just use it for bot :D
btw, will you release Chamelon for Chrome?

Thanks

[2020-03-23 23:42] sereneblue commented on #303
@mazbron

Unfortunately, I won't make a release for Chrome.

If you're using the Chrome DevTools Network Protocol, there are some libraries like [Puppeteer](https://github.com/puppeteer/puppeteer) and [Playwright](https://github.com/microsoft/playwright) that you can use with Firefox. Selenium is another alternative. One of the good things about using Firefox for automation is that you can use add

[2020-03-24 17:41] mazbron commented on #303
@sereneblue
Thanks for your reply.
May I can have your skype or email?
I have great method to make a tons of money, I already do this about 5 years.
We can works together if you want, sure we will make more money.

[2020-03-24 18:25] dpellegr commented on #301
Hi @sereneblue,

I have spent a couple of days trying to find a way to interact with a `moz-extension://` page from JS. I also tried to record the commands with selenium, but there seems to be nothing that can be done to interact with internal browser pages apart from using (virtual) mouse and keyboard.

At this point I think that the best course of actions would be to plant a `runtime.onConnectEx

[2020-03-26 01:17] sereneblue commented on #301
@dpellegr

Don't worry, I've got you covered. ;) I wrote a Python script that gets you to the the Chameleon popup page and selects the `Random Desktop` option:

[code]

I tested with Python 3.8, FF Dev 75 and FF74, and Selenium 3.141. Please let me know if you're still experiencing issues.

[2020-03-26 11:28] dpellegr commented on #301
@sereneblue Thank you! Yep, that worked perfectly. However Selenium is a huge and noisy weapon. One of the requirements of my project is avoiding it. I think that I will look anyway into a small chameleon driver listening on javascript. I'll let you know if it turns out nicely.

[2020-03-28 05:01] sereneblue commented on #301
@dpellegr What library/tool are you using?

[2020-03-28 05:12] sereneblue commented on #303
Hi @mazbron, I've created a contact form [here](https://sereneblue.github.io/chameleon/contact/) that you can use to get in touch.

[2020-03-28 05:13] #303 closed

[2020-03-28 09:55] dpellegr commented on #301
For learning/fun I wrote my own browser extension which:
1. Includes a `native app` which listen to an IPC socket (Linux) and forwards the messages to `background.js`.
2. Does a bit of routing in the `background.js` sending various requests either to the tabs or to other extensions.
3. Sends the responses back to the native app which forwards them on the IPC socket.

As the socket is language agno

[2020-03-28 22:24] sereneblue commented on #301
Interesting, I've explored doing something similar for the `about:config` checklist. Unfortunately, you can't change the preferences file while Firefox is in use.

You should check out the `src/popup/App.vue` and `src/store/actions.ts` files to learn more about messaging and to see how it all works. The `background.ts` file does contain everything you'd need to control Chameleon.

You should test

[2020-03-29 12:59] WPFilmmaker commented on #272
@sereneblue I whitelisted whastappweb with the following settings: https://imgur.com/YH008zd
it does not help :(
if i enable chameleon, reload, whatsappweb is broken...the only way to make it work (so far) is to disable the addon.

[2020-03-29 15:58] dpellegr commented on #301
Everything looks great from here! These are the edits that I introduced:

https://github.com/sereneblue/chameleon/compare/develop...dpellegr:develop

Then from my side I just do:

    var port = browser.runtime.connectNative("MyNativeApp");

    /*
    Listen for messages from the app.
    */
    port.onMessage.addListener( (req) => {
      console.log("Received request: " + req.target +" "+ req.a

[2020-03-30 02:56] sereneblue commented on #301
@dpellegr Glad to see you've got everything sorted out.

[2020-03-30 04:01] sereneblue commented on #272
@WPFilmmaker Hm, that's strange; the whitelist _should_ resolve this. I'll have to look into this more.

[2020-03-30 10:05] 92lleo commented on #272
Does the whitelist work for the current tab or for the specified url only? Maybe you need to whitelist *.whatsapp.com or similar

[2020-03-30 20:52] dpellegr commented on #301
Do you think that you could consider pulling my additions to `background.ts` into the baseline? I know that very few people will profit from it, but for me maintaining my modded fork (including packaging and signing) would be a bit daunting.

An important step in this direction could be adding a GUI entry to set the `authorized` variable. For the time being, `empty` means that anyone can communica

[2020-03-31 00:58] sereneblue commented on #301
@dpellegr

Sure, I'll consider it. I'll be writing a [developer guide](https://sereneblue.github.io/chameleon/wiki/developer-guide/) soon so I'm happy to take a look to see if this is something that can also be added to Chameleon.

Personally, I'd prefer developers control Chameleon using the popup page since it provides consistency across libraries like Selenium/Puppeteer/etc. This seems to be an

[2020-03-31 01:22] sereneblue commented on #272
@92lleo The whitelist works for the current tab. Chameleon doesn't support wildcards. `*.whatsapp.com` would be `whatsapp.com`. There is regex support but it requires a match on the domain first, then it filters with regular expressions (if necessary).

@WPFilmmaker Did you check `Enable whitelist`? I thought there was a bug in Chameleon when I added some sites to the whitelist to check if it was

[2020-03-31 09:25] dpellegr commented on #301
Great! Selenium is great tool but many websites frown upon it. This method instead is pretty much undetectable in addition to being more slender and direct.
Anyway the basics are presented here: https://github.com/sereneblue/chameleon/issues/301#issuecomment-605658511 but if you have questions don't hesitate to ask.
I would also be happy to contribute to the guide!

[2020-03-31 10:41] WPFilmmaker commented on #272
@sereneblue whitelisting https://web.whatsapp.com/ was enough! I checked 'enable whitelist' and it wasn't toggled...toggled it, reload and it works perfectly!

I agree with you, it should be removed because IMHO if the user wants to whitelist something and sees the option to do so, it is obvious that they want "Enable whitelist" on.

[2020-03-31 12:50] WPFilmmaker commented on #71
@sereneblue Any news? Any chance we can get this in chameleon v0.20.0?

[2020-03-31 23:17] sereneblue commented on #71
@WPFilmmaker It's in the roadmap for v0.20.0. I've mentioned it a few times [here](https://github.com/sereneblue/chameleon/issues/291).

[2020-03-31 23:26] sereneblue commented on #301
Thanks. Once I'm done with the developer's guide, feel free to check it out and if there's any improvements that can be made, feel free to submit a pull request. The wiki is located in a branch [here](https://github.com/sereneblue/chameleon/tree/wiki/src/routes/wiki).

Selenium is convenient because there's usually a library in every language you'd want to use, but I'd reach for Puppeteer/Playwrig

[2020-04-07 03:27] sereneblue commented on #291
Update:

The [new wiki](https://sereneblue.github.io/chameleon/) is now mostly complete. All of the existing content has been ported over. The only missing pages are the developer guide and additional resources which should be completed soon. If you find a mistake or have suggestions, feel free to submit a pull request (use the edit link on the wiki page).

[2020-04-15 04:35] Megver83 opened #307 "Add option to disable MediaDevices.enumerateDevices()"
When I go to https://browserleaks.com/webrtc I see that the site can still detect the existence of my camera and microphone. However, Tor Browser doesn't have that issue. I was about to replace Tor with my FF derivative (Iceweasel) thanks to extensions like Chameleon but this is one of the issues that still keeps me in TB. Anyways, that's my problem, but I thought it would be cool to see that feat

[2020-04-16 02:38] sereneblue commented on #307
Hi @Megver83,

Thanks for the great suggestion! I've added this as a feature in v0.20.0 which will be officially released before the end of the month. This feature is in the alpha 3 dev build, however, there's a small bug I noticed just after releasing alpha 3 so it doesn't work until you toggle another option on the same tab.  It's patched now, but the fix will be released in the next dev build.

[2020-04-16 02:38] #307 closed

[2020-04-16 02:40] sereneblue commented on #291
Hi Chameleon community,

I am happy to announce that Chameleon v0.20.0 alpha 3 is now available. If you're already using the developer build, it should automatically update. If not, you can install it from [here](https://github.com/sereneblue/chameleon/releases).

#### Changes

- Add Chinese and German localizations
- Add support to import legacy settings
- Add cache for profiles
- Add screen reso

[2020-04-18 10:12] sleesong opened #308 "Chameleon breaks Google Calendar & Google Keep"
## Expected Behavior (On Firefox, Windows PC)
Google Calendar & Google Keep load & work properly.
## Current Behavior (On Firefox, Windows PC)
Google Calendar will load, however "Reminders" under my calendar (alongside the calendar) does not load and remains in a perpetual "sync" icon.
Google Keep will also load the website, however does not load and remains in perpetual "sync". This breaks google

[2020-04-18 16:19] sereneblue commented on #308
Hi @sleesong,

Can you post your exported settings?

[2020-04-18 19:34] #239 closed

[2020-04-18 21:23] sleesong commented on #308
Hi sereneblue,

I'm not very savvy with back-end and programming but I've here's the
pref.js file. Hope that's what you need

user_pref("accessibility.typeaheadfind.flashBar", 0);
user_pref("app.normandy.first_run", false);
user_pref("app.normandy.last_seen_buildid", "20200403170909");
user_pref("app.normandy.migrationsApplied", 8);
user_pref("app.normandy.startupRolloutPrefs.app.normandy.onsync_s

[2020-04-18 23:12] sereneblue commented on #308
Hi @sleesong,

No worries! Unfortunately, that's the Firefox preferences file. I was referring to Chameleon's settings. You can transfer your Chameleon settings between Firefox installations by exporting/importing them in the popup tab below.

![image](https://user-images.githubusercontent.com/14242625/79673527-678cf000-81a8-11ea-80fe-9acf3b85796f.png)

[2020-04-18 23:19] sleesong commented on #308
Oh right sorry, you meant the extension's settings.

Here you go! I've attached the .json file

On Sat, Apr 18, 2020 at 11:12 PM sereneblue <notifications@github.com>
wrote:

[2020-04-18 23:41] sereneblue commented on #308
@sereneblue It seems Github doesn't post attachments if you reply via email. Can you try using something like https://hastebin.com/?

[2020-04-18 23:46] sleesong commented on #308
No worries, here you go
https://hastebin.com/sezazebego.json

On Sat, Apr 18, 2020 at 11:41 PM sereneblue <notifications@github.com>
wrote:

[2020-04-19 00:51] sereneblue commented on #308
@sleesong

I've found the cause of the issue: `Protect window.name`. It seems Google relies on this value, so it should not be cleared. v0.12.27 is the last release of the legacy version of Chameleon so I won't be able to push out an update to specifically address this issue, however, v0.20.0 will contain a fix. ETA before the end of the month. Thanks for reporting this issue!

[2020-04-19 00:51] #308 closed

[2020-04-19 00:58] sleesong commented on #308
Oh wow, amazing. Keep up the good work! I love the extension :) Thanks
@sereneblue

On Sun, Apr 19, 2020 at 12:51 AM sereneblue <notifications@github.com>
wrote:

[2020-04-25 21:29] #55 closed

[2020-04-25 21:29] #71 closed

[2020-04-25 21:48] sereneblue commented on #291
Hi Chameleon community,

I am happy to announce that Chameleon v0.20.0 beta is now available. If you're already using the developer build, it should automatically update. If not, you can install it from [here](https://github.com/sereneblue/chameleon/releases).

#### Changes

- Add spoof font fingerprint

#### Fixes

- Whitelist google domains for window.name;
- Check if mediaDevices exists before

[2020-04-27 21:20] linksky56 opened #312 "Chameleon v0.20.0 beta"
Hello,

Just installed the Chameleon v0.20.0 beta. Love it!!!
The UI is a 1000x more friendly and cleaner. Thank you!! Thank you!!!

So far have only found a couple glitches.

disqus.com comments are not loading/loading properly on web sites.
Here are some of the sites, I'm having problems with disqus comments.
politicalwire.com
thehill.com
mediaite.com

The other glitch, is the custom interval ti

[2020-04-28 03:36] sereneblue commented on #312
Hi @linksky56,

Thanks for the kind words and valuable feedback. :) The fixes will be released in the next developer build v0.20.0-rc1.

[2020-04-28 03:36] #312 closed

[2020-04-30 03:00] sereneblue commented on #301
@dpellegr I've added some code that should allow the dev build to be controlled by another extension [here](https://github.com/sereneblue/chameleon/blob/6a6161036894e7a74137d5fc9b3de3d10915eddf/src/lib/chameleon.ts#L807). Please let me know if there are any issues. I've also updated the [developer guide](https://sereneblue.github.io/chameleon/wiki/developer-guide).

[2020-04-30 08:49] dpellegr commented on #301
Wonderful! It looks perfectly integrated.

The only issue that I see is that no confirmation is sent back, indeed on my side I wait for that to proceed.

This:
[https://github.com/sereneblue/chameleon/blob/6a6161036894e7a74137d5fc9b3de3d10915eddf/src/lib/chameleon.ts#L811](https://github.com/sereneblue/chameleon/blob/6a6161036894e7a74137d5fc9b3de3d10915eddf/src/lib/chameleon.ts#L811)
should probab

[2020-04-30 23:35] sereneblue commented on #301
@dpellegr Thanks! I've updated the above functions based on your suggestions.

[2020-05-01 04:05] #291 closed

[2020-05-01 10:34] WPFilmmaker opened #323 "Chameleon v0.20.0 does not remember UAs options selected in the previous version"
First of all thank you for the great extension, the new update rocks :)
I encountered an issue upon updating which I thought it was worth mentioning.

After updating I checked if the addon was working and noticed that the profile I was using as spoof was FF 68 desktop. I thought it was weird since I had excluded all variants except for Chrome on Windows. I checked in the settings and it seems that

[2020-05-01 10:38] WPFilmmaker commented on #161
@sereneblue it seems that https://bugzilla.mozilla.org/show_bug.cgi?id=1462989 was resolved and will be released with FF 77. So finally chameleon can have css exfil protection too 👍

[2020-05-01 10:40] WPFilmmaker commented on #270
@sereneblue I tried with 0.20 and the issue persist. I will check the script inection things once I have a bit of time ;)

[2020-05-01 10:44] WPFilmmaker opened #324 "Whitelist page appears broken in v0.20"
I was trying to check whether lives on fb are still broken and I tried to 'open in whitelist' facebook.com, the result is in the screenshot below:

The page is not functional at all, as there is no way to click 'ok' or 'cancel' and the only way to leave the page is close the tabl. 'Name' is also partially cut.

It seems that whitelist page is broken?

https://i.imgur.com/eeaLzjO.png

Chameleon 0.2

[2020-05-01 12:20] Minimalist73 opened #325 "v20 Timezone spoofing break site"
## Expected Behavior
Should spoof Timezone with a preset values (IP or static TZ)

## Current Behavior
Make page not loading things (for example, https://genius.com/ do not load properly with this feature enabled, when disabled the page work).

## Relevant settings

Done on a fresh Firefox profile with everything default except TZ enabled on "IP"

## Context (Environment)

Tested on Firefox 75 and

[2020-05-01 13:53] kekkc opened #326 "Pixiv broken with v0.2 update"
Thanks for the awesome v0.2 update, absolutely amazing. However I realized one drawback:

Can be deleted, issue was my referrer setting that resulted in hidden images on Pixiv

[2020-05-01 13:56] #326 closed

[2020-05-01 17:03] edwardont commented on #325
Confirmed on linux mint 19.1 Tessa 64-bit
Kernel Linux 4.15.0-99-generic x86_64
firefox 75, all up to date
breaks tutanota.com
switching timezone spoofing on/off recreates issue

here is tutanota.com bug report - sorry no copy/paste but hope its a start

![Screenshot at 2020-05-01 17-58-31](https://user-images.githubusercontent.com/49967953/80824114-b3428f00-8bd5-11ea-9b31-2a9b064dc254.png)

![Scr

[2020-05-01 20:59] sipher123 opened #330 "No text loading and nothing working 0.20.0"
# Prerequisites

- [x] I am running the latest version (0.20.0)
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
Launching the app for the first time, especially on a new installation of the latest version of Firefox and beginning to change the configuration… The app should allow me to do what the ap

[2020-05-01 21:06] SunnyMoo opened #331 "Chameleon break sites while all options are allowing"
Hi, with the new 0.20 version I reset all settings to start from scratch but I've got a breaking bug.

Bug is, if I enable Chameleon extension even with all options to default or allowing, it breaks some websites.
It's like Chameleon triggers an hidden option when enabled.
Whitelisting, settings reset, reinstall has no success.

Win10x64 latest FF latest Chameleon.
Here's screens of my settings. I

[2020-05-01 23:53] h6a8ke1k opened #332 "v0.20.0 generates errors in the console"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Expected Behavior
No errors in the console.

## Current Behavio

[2020-05-01 23:59] h6a8ke1k opened #333 "v0.20.0 interferes with uBlock Origin's "prevent webrtc from leaking local IP address""
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Expected Behavior
Using uBO with the option "prevent webrtc fro

[2020-05-02 01:00] shvchk opened #334 "0.20.0 update silently reset some about:config settings (e.g. disabled privacy.firstparty.isolate)"
## Expected Behavior
Update should not silently change settings, **especially** privacy related. Users should be warned that some settings can not be changed in `about:config` anymore, only via Chameleon.

## Current Behavior
0.20.0 update disabled at least `privacy.firstparty.isolate` setting, I'm now checking for other `about:config` changes.

Just checked: it actually keeps disabling `privacy.f

[2020-05-02 01:27] sereneblue commented on #323
Hi @WPFilmmaker, thanks for reporting this issue. The profile options didn't translate 1:1 so I had to make a few assumptions. Firefox ESR on Windows was only available for three OSs instead of 4 and Edge was only available for one in the legacy version of Chameleon, I forgot to take this into account. Not sure if you still have your old settings, but if you import them in the next update, it shou

[2020-05-02 01:27] #323 closed

[2020-05-02 02:10] sereneblue commented on #334
Hi @shvchk, sorry about that. I understand the magnitude of this issue. It was caused because of the initial settings migration after v0.20.0 loads. The settings that Chameleon used were ported over, but the Firefox preferences that Chameleon changes are not (the settings on the options menu under the standard and cookie tabs). They're treated a little differently. I've patched this bug but it may

[2020-05-02 02:10] #334 closed

[2020-05-02 02:17] sereneblue commented on #333
Hi @h6a8ke1k, I believe this is related to #334. It was a bug in Chameleon v0.20.0 that resets some browser preferences when it was initially loaded. You should be able to resolve this by setting the option again in uBlock or use Chameleon to control this feature, `Options > Standard > WebRTC Policy > Only use Public interface (best)`. Please let me know if you're still experiencing issues.

[2020-05-02 03:00] sereneblue commented on #324
Hi @WPFilmmaker, thanks for reporting this issue. I've updated the modals on the options page so that they're easier to manage when the zoom setting is high. This should be fixed in the next update.

[2020-05-02 03:00] #324 closed

[2020-05-02 03:47] h6a8ke1k commented on #333
Hi,
Thanks for you prompt response. I am using the official version (0.20.0.7) from addons.mozilla.org and the issue is not resolved by the methods you suggested.
Setting the option again in uBlock Origin does not have any effect. And the `media.peerconnection.enabled` flag is still true.
Manually setting the `media.peerconnection.enabled` to false has effect, but only temporary. Disabling Chamele

[2020-05-02 04:52] sereneblue commented on #330
Hi @sipher123, thanks for reporting this issue. This was caused because of the fingerprint detection panel. I removed that functionality for Android devices. The fix will be available in the next update.

[2020-05-02 04:52] #330 closed

[2020-05-02 04:58] sereneblue commented on #332
Hi @h6a8ke1k,

Can you list the site that these errors appear on?

[2020-05-02 06:19] sereneblue commented on #333
Hi @h6a8ke1k,

Can you try with v0.20.1? `media.peerconnection.enabled` is controlled by the `Disable WebRTC` option in Chameleon. That option can be found on the options tab below.

![image](https://user-images.githubusercontent.com/14242625/80855653-f66e2380-8c10-11ea-92ba-6e0a6e2b03f4.png)

`WebRTC Policy` is not shown if `Disable WebRTC` is enabled.

[2020-05-02 06:19] sereneblue commented on #331
Hi @SunnyMoo,

Can you let me know if this is happening with the latest version (v0.20.1) and if so, can you list which sites are breaking?

[2020-05-02 07:03] h6a8ke1k commented on #333
With v0.20.1, the webrtc config is preserved. Thanks!
However, neither "Disable WebRTC" nor "WebRTC Policy" appears in that tab.
I tried to change the extension id in `manifest.json` and load using debug mode, and the options appear.
Maybe it is because I used old version (0.12.x) before? The storage may be preserved and the new version cannot correctly migrate the old version config.

[2020-05-02 07:07] h6a8ke1k commented on #332
For the first error: ``TypeError: `target` argument of Proxy must be an object, got undefined``
This error appears on every page, including `about:blank`.
I investigated the source of the error, and hope that it helps:
[code]
the error is generated from the above lines.

[2020-05-02 07:15] h6a8ke1k commented on #333
These options appear now. The issue should have been resolved. Thanks!

[2020-05-02 07:32] h6a8ke1k commented on #333
I found where the problem is.
After enabling `blockMediaDevices` in the `injection` tab in Chameleon, the `Disable WebRTC` option disappears in `standard` tab. Maybe it is designed intentionally, but disabling media devices does not cause WebRTC to be disabled. (Tested in this version as well.)
So maybe you can make disabling media devices disable webrtc at the same time automatically, or you stil

[2020-05-02 07:53] Pintoski commented on #325
I confirm Spoofing Timezone (IP), breaks Youtube.
Please fix this issue immediately.

[2020-05-02 08:01] h6a8ke1k commented on #332
The second error is `TypeError: getTime method called on incompatible Object`
It appears on some of the websites, an example is `https://amiunique.org/`.
You can investigate the reason. I am not accustomed to js debugging in Firefox. (Previously always using Chrome to debug.)

Another website mentioned in another issue is `https://genius.com/`, and I think I have found the issue.
There is code che

[2020-05-02 08:37] lewisclement opened #336 "YouTube Polymer interface gets disabled, no avoiding"
## Expected Behavior
Using YouTube with a Firefox profile shouldn't disable the Polymer layout. Adding YouTube to the white list should definitely avoid so. And when disabling Chameleon this of course shouldn't happen.

## Current Behavior
All of the above situations result in appending `&disable_polymer=true` to YouTube urls. The only way to avoid this is by disabling Chameleon in `about:addons`.

[2020-05-02 10:38] ArujBarbaross commented on #331
Hi,
Not sure it's the same issue, but for example [here](https://pikabu.ru/story/iz_rasskaza_znakomogo_seo_7417783#comments) the expand/collapse comment functionality gets broken. I'm currently using version 0.20.1.2.

[2020-05-02 11:40] WPFilmmaker commented on #323
@sereneblue No prob, I was able to reinstall settings manually ;=)

[2020-05-02 12:36] randyrandersn opened #338 "v20 Update - Text not showing in Settings UI"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
Be able to read text in the UI, am unable to

[2020-05-02 14:07] sereneblue commented on #333
Thanks @h6a8ke1k. This issue has been addressed.

[2020-05-02 14:07] #333 closed

[2020-05-02 14:25] sereneblue commented on #338
Hi @randyrandersn,

Do you have localStorage disabled? (`dom.storage.enabled` in about:config)

[2020-05-02 15:11] randyrandersn commented on #338
Hmmm, I'd rather not have localstorage enabled but it does resolve the issue.

With this enabled should I be using another addon to clear this out?

[2020-05-02 15:56] sereneblue commented on #338
@randyrandersn Don't worry, I've already got a fix that resolves this issue when localstorage is disabled. I just wanted to confirm the cause of the issue. You can keep local storage disabled, the next update will be out later today.

[2020-05-02 15:56] #338 closed

[2020-05-02 21:30] sereneblue commented on #336
Hi @lewisclement,

I've removed the code that specifically handles Youtube. It should land in the next update to be released later today.

[2020-05-02 21:30] #336 closed

[2020-05-02 22:35] sereneblue commented on #332
Thanks for the detailed report @h6a8ke1k!

While you can disable WebAudio, it's generally better to feed trackers fake data. Not having any data could flag you as a unique individual and disabling features can cause some sites to break. The next update should resolve the issues with the audio context and fixes the bug with the Date object on `amiunique.org`. Please let me know if you're still expe

[2020-05-02 22:35] #332 closed

[2020-05-02 23:51] darkneptune commented on #331
it breaks:
https://cloud.disroot.org/

[2020-05-02 23:57] SunnyMoo commented on #331
@darkneptune You should take some screenshots as this website needs to log in.

@sereneblue I don't understand my post disappeared.
Here we go again.

Hi @sereneblue !
Just updated to last AMO version shown as v0.20.1 in Chameleon.
Everything seems fine except https://my.netatmo.com/app/station which is broken as soon as I enable chameleon in extension panel. Changing settings or whitelisting has

[2020-05-02 23:59] Iquaridys opened #339 "browser not support when login gmail/google"
- [X ] I am running the latest version
- [X ] I checked the documentation and found no answer
- [ X] I checked to make sure that this issue has not already been filed

## Expected Behavior
Go SE , go to gmail , when input email, should go to password  but show browser not support
## Current Behavior
![image](https://user-images.githubusercontent.com/23011078/80895075-21d53900-8d0b-11ea-84a5-0391c1

[2020-05-03 00:53] h6a8ke1k opened #340 "Useragent spoof for navigator.userAgent"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Expected Behavior
The useragent changed both in HTTP headers an

[2020-05-03 00:57] h6a8ke1k commented on #340
The [link](https://stackoverflow.com/questions/1307013/mocking-a-useragent-in-javascript) explains a way to modify the UA in the navigator object.
[code]

Moreover, the original Firefox browser seems to return different values in HTTP headers and the navigator object.
For example, Firefox 68 ESR HTTP header UA:
`Mozilla/5.0 (Windows NT 10.0; rv:68.0) Gecko/20100101 Firefox/68.0`
Compared to the na

[2020-05-03 01:29] sereneblue commented on #339
HI @Iquaridys, do you have 2FA enabled for your account?

[2020-05-03 02:14] sereneblue commented on #340
@h6a8ke1k The userAgent property should automatically be spoofed by Firefox based on the headers. I can manually overwrite this property but I'm not sure why there are two different user agents present. Both values are the same for me on Linux + FF75 & FF76 and Windows 7 + FF 68.

[2020-05-03 02:42] h6a8ke1k commented on #340
Sorry for the inaccurate information.
I tested again, and found the reason.

For a clean firefox browser, the UA in HTTP headers and navigator object is the same, which is the following value:
`Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:68.0) Gecko/20100101 Firefox/68.0`.

However, if I enable Chameleon and select "Real Profile", the navigator object UA does not change, but the HTTP header chang

[2020-05-03 03:22] sereneblue commented on #325
Hi @Minimalist73, thanks for opening this issue. Thanks to the efforts of @h6a8ke1k, I was able to identify the issue and fix in v0.20.2.

@edwardont This was a separate issue that I've also managed to fix in v0.20.2.

@Pintoski This should also be fixed.

[2020-05-03 03:22] #325 closed

[2020-05-03 03:36] sereneblue commented on #331
@ArujBarbaross I'm also experiencing the same issue with this site. v0.20.2 doesn't resolve this but I hope to diagnose and have a fix available in the next update.

@darkneptune v0.20.2 should resolve the issue with https://cloud.disroot.org/ if you were using the timezone spoofing option. Can you provide more information about the issues with Spotify? Keep in mind that some profiles may not work

[2020-05-03 04:37] h6a8ke1k opened #341 "About the ClientRects Spoofing"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Expected Behavior
The fingerprint values should change after th

[2020-05-03 07:34] Iquaridys commented on #339
no @sereneblue, i try again with tun off ' Protect window name ' work fine, when i turn on again the google login show browser no support

[2020-05-03 07:40] Iquaridys commented on #340
Support needs to be added for the following User Agent detection methods if possible:
1. navigator.userAgent (onload)
2. iframe navigator.userAgent
3. iframe navigator.appVersion

[2020-05-03 12:52] darkneptune commented on #331
@sereneblue Currently, with v 0.20.2, spotify is working good again too. Thanks. :)

[2020-05-03 13:21] slrslr opened #342 "Twitter loading posts with delay and when turn off chameleon, it loads immediately"
v0.20.1
Windows 10
Firefox beta

https://twitter.com/home
shows: "Something went wrong."
instead of posts

When i turn off chameleon, and reload page it loads the posts OK.

Also when i keep chameleon enabled, but wait some time, switch to other tab/s and back it loads too.

When chameleon is turned off and i reload page, then it loads post immediately without need to wait/switch to other tabs.

I

[2020-05-03 14:43] SunnyMoo commented on #331
@sereneblue Sadly v0.20.2 doesn't fix netatmo regardless of settings and whitelist.

[2020-05-03 14:48] wanglai8 opened #343 "Bring back Classic UI"
please bring back classic UI so can fast disable chameleon (real profile) or switch to mobile profile,

new UI make more difficult to switch profile

[2020-05-03 17:21] shvchk commented on #334
@sereneblue thank you for prompt response and fix, really appreciate it!

[2020-05-03 18:36] GitTheHellOutaHere opened #344 "New version breaks sites"
**Gimme back the old version!**

Perhaps I can install it from a backup and disable updates until this bug is fixed.

I'm having to disable Chameleon to access site I've been accessing with the old version for a long time. Here's one: https://www.otcmarkets.com

All I get are blank pages on that site, even when I access different pages directly via search engine links. Of course the user agent is

[2020-05-03 18:54] h6a8ke1k opened #345 "Timezone spoof issues"
# Prerequisites

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Expected Behavior
The timezone spoof works as intended to apply intended timezone to every function to get time / timezone, and does not consume too much resource.

## Current Behavior
The following items may be rel

[2020-05-03 18:58] sereneblue commented on #344
@GitTheHellOutaHere Please update to v0.20.2 and try accessing https://www.otcmarkets.com/ again.

[2020-05-03 19:02] sereneblue commented on #340
@Iquaridys, those properties are already spoofed. You can verify that by checking https://browserleaks.com/javascript.

@h6a8ke1k I believe this bug is actually caused by the resist fingerprinting option. Can you check your settings to see if that's enabled?

When it's enabled and you're using your real profile, Firefox spoofs the user agent in the header to `Mozilla/5.0 (Windows NT 10.0; rv:68.0)

[2020-05-03 19:21] h6a8ke1k commented on #340
@sereneblue Thank you for your solution! That is exactly the reason. If I disable Chameleon and enable "resist fingerprinting" alone in `about:config`, the useragent in HTTP headers and the navigator object is different. So I guess if I enable "resist fingerprinting", I should not spoof my profile.

However, I think the resist fingerprinting option by Firefox is very useful. It can effectively pre

[2020-05-03 19:28] h6a8ke1k commented on #345
I guess I know the reason of `Date()` and `new Date()` returning different values:
It is also because I enabled "resist fingerprinting" option.

[2020-05-03 19:31] sereneblue commented on #340
@h6a8ke1k I agree, resist fingerprint is useful to have. v0.20.3 will overwrite the navigator userAgent property when a browser profile is spoofed so you can still use profiles. However, if the real profile is selected, it's probably best to leave it alone so that it can mimic Firefox it's original behavior.

[2020-05-03 19:31] #340 closed

[2020-05-03 19:43] sereneblue commented on #343
Hi @wanglai8,

Can you provide some more details about how you're using Chameleon? I'm open to UX improvements, but I'm not sure what's the best way to go about it. I think the new UI provides some extra functionality (quick overview of settings, toggle Chameleon, fingerprint detection) that is worth the trade off of an extra click to change between profile options. Clicking the shield icon can te

[2020-05-03 20:08] sereneblue commented on #345
Hi @h6a8ke1k, thanks again for the detailed issue!

In your first post,

1. I know what's causing this issue; it's how Chameleon attaches extra info to a Date object to properly spoof it. I'll have to change the implementation but I can't guarantee that this will be in the next update because it may take some time.
2. This is because of RFP.
3. This happens because the Date object is replaced by a

[2020-05-03 20:32] h6a8ke1k commented on #345
@sereneblue Thank you! I realized that it is not appropriate to use dev console to test these things now. Sorry for any confusion.

I know that the implementation change may be harder. So it is fine for me now. I am using the default timezone, although many pages will show wrong timezone with resist fingerprint on.

But since the web page is using more and more memory when `new Date` is frequently

[2020-05-03 21:06] sereneblue commented on #345
@h6a8ke1k,

Don't worry about it. The dev console is the first place I'd look at too!

Yes, I believe the issue is with garbage collection, it does seem to be similar to a memory leak. This is a high priority issue, so I'll try to get it resolved ASAP.

Thanks a lot for the detailed issues. I wouldn't have been able to Chameleon this far without input from the community from users like you. :)

[2020-05-03 21:55] sereneblue commented on #339
@Iquaridys, it's the browser profile being used that's causing issues. Some more details can be found in [this](https://old.reddit.com/r/qutebrowser/comments/cyb1wi/cant_sign_into_google/) reddit thread. The relevant part is from [this](https://security.googleblog.com/2019/04/better-protection-against-man-in-middle.html) link mentioned in the thread.

`Last year, we announced that we would require

[2020-05-03 22:00] linksky56 opened #346 "Chameleon unchecks box, Delete cookies and site data when Firefox is closed"
Hello,

Thank you for fixing issue #312 last week.

Found another glitch.

about:preferences#privacy
Cookie and Site Data
Delete cookies and site data when Firefox is closed

Whenever I enable Chameleon, it unchecks the box: Delete cookies and site data when Firefox is closed.
When you disable Chameleon, the check reappears. Enable Chameleon the check disappears again.

To use the *Delete cookies

[2020-05-03 22:16] WPFilmmaker commented on #339
I had the same issue before upgrading to the new version,
I disabled chameleon, logged in and renabled it:)

[2020-05-03 22:18] WPFilmmaker commented on #272
@sereneblue I am afraid whatsappweb is broken again..since yesterday and had to disable chameleon :( do you think something might conflict with the new version?

[2020-05-03 22:22] WPFilmmaker commented on #343
I think with one one gets used...I find the new user modern albeit not so fast to navigate but perhaps is because it is a new thing. Also I don't know you but for me chameleon is one of those addons I tweak at the beginning and then rarely touch as opposed to others where you always fiddle it (noscript etc.).

One improvement I would like to see if when you select the UA you see the three buttons

[2020-05-03 22:42] sereneblue commented on #272
@WPFilmmaker Is whatsapp still whitelisted?

[2020-05-03 23:04] sipher123 opened #347 "0.20.3 Vague case of expiring spoofing"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
In Firefox for android, to leave the extension running in, say, iPhone Safari latest version profile and it would indefinitely appear as an iPhone on any site to the best of its capabilities. The o

[2020-05-03 23:07] sereneblue commented on #343
@WPFilmmaker The list of profiles will stay open if one of the options under it is selected. For example, selecting `macOS 10.13 - Firefox 68 ESR` will keep the macOS list open when you see the popup again.

[2020-05-03 23:31] sereneblue commented on #339
I've exempted accounts.google.com from being spoofed. This should be resolved in v0.20.3.

[2020-05-03 23:31] #339 closed

[2020-05-03 23:48] sereneblue commented on #346
Hi @linksky56,

Nice find! There are actually two cookie options that can be used, the cookie policy and whether to treat all cookies as a session cookie. Chameleon only configures the first one. It seems both should be set otherwise, it'll default the value to false. I'll add the second option to Chameleon which should resolve this issue. This should be available in the next update. Thanks!

[2020-05-03 23:48] #346 closed

[2020-05-04 00:21] sereneblue commented on #347
@sipher123 This looks like a bug; I've seen it before (#83). From my understanding of the previous issue, Chameleon used some unsupported features on Android that caused the addon to break somewhere. Hopefully, my hunch is correct and I will be able to resolve this issue for the next update.

[2020-05-04 00:34] quietlystorming opened #348 "Bug: About page icons not labeled after upgrade (so I inadvertently reset all my settings to default)"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

I'm running FF 75.0, winx64 8.1

Issue:
So, I upgraded to v0.20.1, shiny new UI, and start looking around. I open the settings page and the About tab has all icons without text. I try clicking the ones on top - nothing happens. Of cour

[2020-05-04 01:38] sereneblue commented on #348
Hi @quietlystorming, unfortunately, no, there isn't a way to get your settings back. Once the settings are reset, Chameleon reloads itself and the previous settings are removed. The issue you're referring to is slightly different. I'll add a confirmation modal in the next update to improve UX.

I'm not sure why Firefox has issues when displaying extension UIs. This is something I've seen in the pa

[2020-05-04 01:39] sereneblue commented on #331
Thanks @SunnyMoo for confirming. I'll look into this issue soon.

[2020-05-04 01:48] quietlystorming commented on #348
sad_face, sad_face, sad_face. Well, hopefully this will help someone else going forward, thanks.

[2020-05-04 03:28] GitTheHellOutaHere commented on #344
Updating worked for that website.

Thought I had the latest version since 0.20.1 appeared on its own and it's supposed to auto-update.

Thanks!

[2020-05-04 03:55] sereneblue commented on #341
Hi @h6a8ke1k, thanks for reporting this issue. It was a bug with iframes. This has been fixed and will be released tomorrow in v0.20.3.

[2020-05-04 03:55] #341 closed

[2020-05-04 03:57] #344 closed

[2020-05-04 04:01] sereneblue commented on #342
Hi @slrslr,

That config seems to be for v0.12.x. Did you export it from v0.20.1? Some non-Firefox profiles cause issues with Twitter. I'll try to see if I can find out why, but in the meantime you should try whitelisting the site with a Firefox profile.

[2020-05-04 06:58] quiet23 opened #349 "Youtube and other sites respond slowly or completely broken"
Chameleon 0.20.2.1

## Expected Behavior
Youtube to open and work properly without a significant delay.

## Current Behavior
Youtube either hangs for 10-20 seconds before executing the requested action (switch to full screen, show comments, even clicking on a link to another video) or freezes completely (loading process seems to be unfinished in the case). Firefox is fully loading 1 processor core

[2020-05-04 07:31] ilikenwf opened #350 "Allow add/edit of spoofed useragent parameters, or at least add the current tor browser as an option"
For the sake of fingerprinting I find that the tor browser useragent, platform, etc, all tend to blend in the most, except for whatever FF version or Chrome version is current.

I attempt to use canvasblocker but it fails to spoof the platform, I'm not sure what special sauce is going on here to make that work...

Regardless, having a way to add custom UA's would be nice.

[2020-05-04 07:48] ilikenwf commented on #350
...in addition, it would be nice if we could have the ability to only share certain navigator properties in regard to these user agents, as despite having one chosen, the build ID isn't the 2010 one that most builds of Firefox now use, but is instead the actual build id...and hardware concurrency isn't reflecting the max of 2 for the value resistfingerprinting uses.

[2020-05-04 07:55] thelmexx opened #356 "Chameleon breaks Google Drive"
## Expected Behavior
Google Drive (drive.google.com) working correctly, able to navigate folders and open documents.

## Current Behavior

Unable to leftclick on folders to open them, nor leftclick on document to open them. Disabling the addon and refreshing the page fixes this.

## Relevant settings
[(1)](https://feen.us/24qcgrx4ce.png)  [(2)](https://feen.us/0vt82845fc.png)  [(3)](https://feen.u

[2020-05-04 11:16] WPFilmmaker commented on #339
@sereneblue is there a visibile list of domains which are exempted? I think it would make sense having such list (obviously as short as possible and togglabe off) because otherwise a new user does not know that spoofing is not possible on accounts.google.com.

[2020-05-04 15:36] slrslr commented on #342
I used Chameleon only in Firefox, so i assume what i provided is not a "non-Firefox profile", it is from older version, but because i changed no settings since then, i assumed you would have enough information to replicate this issue. But now i updated link in the first post of this issue to have export for the current version.

I do not know what you mean by "whitelisting the site with a Firefox

[2020-05-04 16:46] SunnyMoo commented on #331
Sure, no problem. Thank you !

[2020-05-04 17:34] h6a8ke1k opened #360 "Font spoofing issues"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
All websites display fonts correctly, including those using remote fonts (webfonts).

## Current Behavior
Some of the websites using webfonts are not correctly displaying some icons.
For example:
[

[2020-05-04 18:46] WPFilmmaker commented on #349
I can't reproduce this on my linux system and i have the same Firefox and chameleon version, so maybe windows only?

[2020-05-04 19:38] h6a8ke1k opened #361 "Page display broken when loaded"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
The web pages display fully with css style when loaded.

## Current Behavior
When the web pages are first loaded, the style is broken. (seems like without any css) After a very short while, the dis

[2020-05-04 22:07] #348 closed

[2020-05-04 23:43] sereneblue commented on #360
Hi @h6a8ke1k, thanks for reporting this issue.

Yes, that's correct.

Icons library are slowly migrating to SVGs so web fonts should gradually become less of an issue over time. I've added a few other web fonts to a whitelist. This is fixed in v0.20.3.

[2020-05-05 03:54] sereneblue commented on #339
@WPFilmmaker I've added a [page](https://sereneblue.github.io/chameleon/wiki/known-issues) to the wiki for this. It can also be found in the options page in v0.20.3.

[2020-05-05 03:54] sereneblue commented on #356
Hi @thelmexx,

I'm not able to replicate this bug, however, v0.20.3 may have resolved your issue. Please let me know if you're still experiencing issues after updating.

[2020-05-05 03:56] sereneblue commented on #347
@sipher123 Can you test with v0.20.3 and let me know if this is still happening? I haven't been able to replicate this issue. Also, is it just the spoofing that stops or are all of the extension settings reset?

[2020-05-05 03:56] sereneblue commented on #361
Hi @h6a8ke1k, can you test with v0.20.3 and let me know if you're still experiencing issues?

[2020-05-05 03:57] sereneblue commented on #349
Hi @quiet23, I believe the issue is caused by the fingerprint detection panel. I've removed it from Chameleon and was able to load the arcgis URL you linked. I wasn't able to replicate your issue with Youtube but I suspect it may also be caused by the fingerprint panel. Can you let me know if v0.20.3 resolves your issues?

[2020-05-05 04:06] sereneblue commented on #342
@slrslr The upgrade to v0.20.0 changed the settings format. You can still import your v0.12.x settings into Chameleon but your current settings provides some more information.

Thanks for posting your updated settings. I hope that whitelisting Twitter can fix the issue while I try to find the cause.

[2020-05-05 05:47] h6a8ke1k commented on #361
I have updated and the issue is resolved. Thanks!
By the way, could you please indicate what is causing this strange issue?

[2020-05-05 05:47] #361 closed

[2020-05-05 06:54] quiet23 commented on #349
Hello @sereneblue, version 0.20.3.1 allows Youtube to be responsive, thank you very much. Arcgis page, however, almost never completes loading, and even when it appears to be loaded, makes Firefox consuming 1 processor core indefinitely. Whitelisting the page eliminates the problem though.

<img width="800" alt="Firefox on Windows 2020-05-05_09-57-01" src="https://user-images.githubusercontent.com

[2020-05-05 10:26] WPFilmmaker commented on #324
Can confirm this is fixed:)

[2020-05-05 10:28] WPFilmmaker commented on #272
@sereneblue yes https://web.whatsapp.com/, i saw you could add more than url in the same exception so just in case I added https://www.whatsapp.com/ as well, reloaded the page but it is still broken :(

[2020-05-05 10:30] WPFilmmaker commented on #343
@sereneblue in my case it is not happening :/ I have random profile (desktop) toggled, change periodically no, and I am using a chrome windows profile but the window menu remains closed (keep in mind i excluded all the other UAs so effectively the 'random profile' can only choose from 1 UA and don't know if it is affects).

[2020-05-05 10:34] WPFilmmaker commented on #349
OK I am officially dumb:D when I tried I had chameleon disabled because it breaks whatsappweb. I tried it enabled and youtube is noticeably slower and also that coronavirus website is almost unbrowsable (to be honest even normally it is kinda sluggish to load because of js i think). So i can confirm also on linux:)

[2020-05-05 15:28] sipher123 commented on #347
@sereneblue Doing some checks:
- [ ] Installed  0.20.3
- [ ] Immediately functioning spoof
- [ ] Spoof profile functioning after a short amount of time (e.g. 4-6 hours)
- [ ] Spoof functioning after 12 hours

What correct results should look like:
![Screenshot_20200505-162640](https://user-images.githubusercontent.com/64660594/81084000-396c1780-8eed-11ea-82fd-d54fc3a0e8ce.jpg)
The configuration is

[2020-05-05 19:11] GitGangGuy opened #362 "Chameleon Update breaks whitelisting feature"
This bug is the reason for issues #331, #342, #349 and #356, and I'm experiencing similar ones. I'd recommend to shift the discussion over to this, more general issue description.
## Current Behavior
Since Chameleons new-UI releases (v2.0.x), the whitelisting feature appears to be broken. This is especially noticeable with pages like YouTube not loading properly anymore even though a whitelisting

[2020-05-05 19:41] h6a8ke1k commented on #360
@sereneblue Excuse me, but I find that there are various kinds of other web fonts and it is not very likely to add all of them to the whitelist. Some of the sites are still not displaying web fonts correctly.
For example, the website [https://alternativeto.net/](https://alternativeto.net/) seems to use its own web fonts.

I discovered that if I set `browser.display.use_document_fonts` to 0, the nu

[2020-05-05 22:08] sereneblue commented on #361
@h6a8ke1k It was probably the fingerprint detection panel. Some variables were overwritten which seems to have caused more trouble than it's worth.

[2020-05-06 02:06] sereneblue commented on #350
Hi @ilikenwf,

Tor Browser is the polar opposite of Chameleon when it comes to a browser fingerprint; It tries to maintain a uniform fingerprint for all users. There's no benefit to using a Tor Browser profile outside of it's browser.

According to [this](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/buildID), the build ID _should_ be static. If you're using RFP and select a browser p

[2020-05-06 02:21] sereneblue commented on #343
@WPFilmmaker If one of the random X options is selected, it does hide the profile list. This behavior is identical to v0.12.x. You can get the name of the profile being used by looking at the home tab (first tab loaded when the popup opens).

The profile list is only open if you've toggled it by clicking the tab (Windows, etc) or if a specific profile is selected.

[2020-05-06 03:39] sereneblue commented on #360
Hi @h6a8ke1k,

Thanks for commenting again on this issue. I'm experimenting with a way to handle this dynamically using `document.fonts`. It appears to work, but I'm having some trouble with the Core UI icons. I hope to have this resolved in v0.20.4.

[2020-05-06 03:40] sereneblue commented on #272
@WPFilmmaker Did you test this with v0.20.3? That _should_ have fixed the issue with the whitelist.

[2020-05-06 03:45] sereneblue commented on #349
@quiet23 @WPFilmmaker Can you post your settings?

[2020-05-06 03:58] sereneblue commented on #362
Hi @GitGangGuy,

Thanks for being understanding. Most of the issues seem to have been caused by the fingerprint detection panel that was included in v0.20.0, but removed in v0.20.3. Some other issues were caused by the implementations of some of the injection features. There were some bugs that have been patched and there is still a performance issue that I'm working towards fixing sometime this w

[2020-05-06 04:01] sereneblue commented on #331
@SunnyMoo Can you test this with v0.20.3? I believe the issue may have been caused by the fingerprint detection panel.

@ArujBarbaross v0.20.3 seems to resolve the issue with this site.

[2020-05-06 04:37] quiet23 commented on #349
@sereneblue, [chameleon_1588739519664.json.zip](https://github.com/sereneblue/chameleon/files/4584816/chameleon_1588739519664.json.zip)

[2020-05-06 07:14] thelmexx commented on #356
Still happening as of v0.20.3, including with all other addons disabled. Specifically I can't navigate between folders and files on the drive interface, while I can still use side menus, e.g the trash menu.

[2020-05-06 15:20] SunnyMoo commented on #331
@sereneblue you did it ! Netatmo now works as intended, through usual settings with whitelist.
Great and reactive support you provide here, many would take example on you !
Thank you very much for your work.

[2020-05-06 16:48] sipher123 commented on #347
It looks like everything has been working smoothly. 😁 Thanks for the new update! Don't know what you did but it worked.

[2020-05-06 23:10] sipher123 commented on #347
Unfortunately, the problem isn't resolved on my end.
![Screenshot_20200507-000652](https://user-images.githubusercontent.com/64660594/81237196-e41c2d00-8ff6-11ea-836d-a0d08f6a748c.jpg)
The last activity was leaving the browser and doing something else which likely kicked it out of ram. So I open it up again, wait a bit to let all the add-ons load, and go to whatismybrowser only to do this again. T

[2020-05-07 03:55] sereneblue commented on #360
@h6a8ke1k I've managed to find a fix that works with all of the links you listed above. This should be resolved in the next update.

[2020-05-07 03:55] #360 closed

[2020-05-07 10:06] dpellegr commented on #301
Hi sereneblue,

Do you think that a dev build is suitable for being published on https://addons.mozilla.org ?
I am asking because I need a signed xpi, so for me it keeping it private or publish is the very same effort, but you may be against this or prefer to publish it with your account in order to better keep it updated in the future...

Thank you in advance for letting me know!

[2020-05-07 13:50] Kaylier opened #363 "Localization missing strings"
The non-english localizations (currently de, es, fr and zh_CN) are missing the following strings:
- popup.options.cookieNotPersistent
- options.modal.askReset
- options.modal.confirmReset
- options.about.knownIssues

These strings were introduced in commits 8aba53e, c7dd999 and a182400.

[2020-05-07 22:04] sereneblue commented on #301
Hi @dpellegr,

The dev builds on the [releases](https://github.com/sereneblue/chameleon/releases) page are signed.

[2020-05-07 22:25] sereneblue commented on #363
Hi @Kaylier,

I'm aware of this issue. I've done some work updating how localizations work in Chameleon to to eliminate the issue some users are experiencing with missing text in the UI. I haven't gotten around to updating the translation file on Crowdin but I will be doing that later today.

[2020-05-07 23:20] sereneblue commented on #363
I've updated the localization file.

[2020-05-07 23:20] #363 closed

[2020-05-07 23:58] ck9ine commented on #356
Had the same issue. Basically, one can log into Drive.  The navigation is present, as well as surrounding elements (around the all 4 edges of the page), however, the actual directory and/or file list would not appear.  Just blank -- in the middle of the page.

I came to the conclusion that it was Chameleon after process of elimination with my addons.

Initially, I thought it might be related to en

[2020-05-08 01:41] sipher123 commented on #347
I've tried everything I could think including resetting using the reset button, but what worked is a reinstall. I'm assuming that means continuous running causes the configuration at one point to fail permanently? Anyway, I'll see how long it takes before it fails again.

Also @sereneblue can I ask what are your plans for the new firefox android browser? Its already into beta and may reach stable

[2020-05-08 02:09] sipher123 commented on #347
It didn't take long before it happened again because of the same circumstance, kicked out of ram e.g. from another app or battery optimisations.

[2020-05-08 02:25] sereneblue commented on #347
Hi @sipher123, I've found the issue. It's a bug with iOS 12/13 mobile profiles. As a temporary workaround, you should use an iOS 11 profile. This will be resolved in v0.20.4. ETA tomorrow.

[2020-05-08 05:58] dpellegr commented on #301
Great, thank you!

On Fri, May 8, 2020, 00:05 sereneblue <notifications@github.com> wrote:

[2020-05-08 13:17] dpellegr commented on #301
Sorry to bother you again, but I have started to migrating from my custom build and unfortunately we are not there yer :(

This line seems wrong:

https://github.com/sereneblue/chameleon/blob/3be8d6ee7cbd2ffb630ff1568aa447a7cb03cc05/src/lib/chameleon.ts#L844

as calling sendMessage directly (without a message handler) the arguments get completely different meanings: https://developer.mozilla.org/e

[2020-05-08 16:37] WPFilmmaker commented on #362
@sereneblue don't want to hijack the ticket but does it mean that fingerprinting function was removed?or just changed? If you removed it do you plan to reimplement in the future?

[2020-05-08 22:40] sereneblue commented on #362
@WPFilmmaker In v0.20.2-v0.20.2, there was a small UI panel at the bottom of the main popup panel. If a certain browser API was accessed on a page with Javascript such as the screen resolution, it would be shown in this panel. The problem with this feature is that the implementation causes a lot of issues. I don't plan to bring it back in the future.

[2020-05-09 00:47] #331 closed

[2020-05-09 01:08] sereneblue commented on #345
@h6a8ke1k It seems it wasn't a garbage collection issue but the Proxy being used. v0.20.3 should have significantly improved performance for timezone spoofing on bilibili. Although there is still a performance hit because window.Date is being overwritten, it's reasonable now and you generally shouldn't notice much of a difference.

[2020-05-09 03:14] sereneblue commented on #356
Thanks @ck9ine. That seems to be the cause of the issue. I've found where the issue is located but I'm not sure yet why it breaks.

[2020-05-09 04:14] sereneblue commented on #301
@dpellegr I've updated the dev build with your change. I'll do some testing on my own to see if I can get a connection to Chameleon from an extension.

[2020-05-09 04:34] sereneblue commented on #360
@h6a8ke1k v0.20.4 has been released. ;)

[2020-05-09 04:35] sereneblue commented on #347
@sipher123 v0.20.4 has been released. Please let me know if you're still experiencing issues with iOS profiles after updating.

[2020-05-09 04:35] #347 closed

[2020-05-09 08:00] h6a8ke1k commented on #360
Thank you! I have tested and it seems to work fine.

[2020-05-09 08:23] h6a8ke1k commented on #345
Thanks for your efforts! Unfortunately, I am still experiencing issues when testing using v0.20.4.

For youtube: after enabling spoofing, the memory consumption gradually increase if video is playing. After increasing 0.5GB or so, it drops back to normal level.

For bilibili: after enabling spoofing and play the video (with floating moving text above video), the memory consumption can still increa

[2020-05-09 09:32] dpellegr commented on #301
I am observing additional instabilities in the latest releases (I tried 20.3 and 20.4), like the pop-up sometimes disappearing when browsing it. In the console I get messages like:

[code]
It is really hard to track it down to a specific sequence of actions, but I believe that this could be related to my communication issue.

Also, with previous v20 releases, I remember having few icons reporting

[2020-05-09 11:23] ck9ine commented on #356
To add, the specific timezone I had chosen was my exact timezone (or maybe it was an hour off due to daylight savings).  Just in case one might think that it's some sort of IP/timezone validation check on Google's part.

[2020-05-09 21:23] Keraldi commented on #356
Opening google sheets with chameleon enabled (even if google is whitelisted) presents me with this error:
![Screenshot_20200509_231339](https://user-images.githubusercontent.com/23401986/81485076-e5de2e80-924a-11ea-9b89-fe88b103232c.png)
From top to bottom:
'A Problem occurred. Reload.'
'An error occurred on the server. Click on the reload-button in your browser to reload the page.'
'File cannot b

[2020-05-10 05:05] sereneblue commented on #301
@dpellegr The fingerprint detection panel has been removed from Chameleon. It caused a number of issues with sites.

I was able to send a message to Chameleon using the following background script:

[code]

I've rewritten the external listener in 3db7049f1ca527a4ebae2023cb9da1b27afb80af. Instead of using ports, it's much easier to use `runtime.sendMessage` to send the message directly to Chameleon

[2020-05-10 05:09] sereneblue commented on #356
@Keraldi That's interesting. Can you post your settings?

[2020-05-10 06:11] Keraldi commented on #356
https://gist.github.com/Keraldi/cbff5478436614261e17354718d5c539

I took the liberty of removing all rules except for the google one.

[2020-05-10 22:26] sereneblue commented on #356
@Keraldi This was a bug with iframes and whitelist handling. It has been fixed in v0.20.5.

@thelmexx Google does some funny things with the Date object that cause the timezone spoofing implementation to break. I've added Google Drive and Google Docs to a permanent whitelist in v0.20.5.

[2020-05-10 22:26] #356 closed

[2020-05-11 08:48] dpellegr commented on #301
Could you show me your manifest.json? Even with this new scheme I keep getting `Error: Could not establish connection. Receiving end does not exist.` :/

[2020-05-11 09:43] dpellegr commented on #301
Check these out: https://github.com/dpellegr/RedBlue
They are two super simple extensions. When you click on their icons, Blue sends a message to Red (which receives it properly), in the same way Red sends a message to Chameleon v0.20.5 which for me keeps failing.

[code]

[2020-05-11 23:30] sereneblue commented on #301
@dpellegr Chameleon is actually handling the message. You can verify this by checking the response.

[code]
Changes to settings need to be saved if you want the UI to be updated or for settings to be persistent.

`Error: Could not establish connection. Receiving end does not exist. background.js:7:373258` was actually caused by the listeners in Chameleon. The error doesn't break functionality. The

[2020-05-12 00:48] GitTheHellOutaHere opened #366 "Can only use website with real profile."
With Chameleon 0.20.5's Random Profile (Desktop) enabled, [this](https://www.cnbc.com/pre-markets/) site will not load in Firefox 76.0.1.

Chameleon is set to change user agents hourly (macOS only). That works fine most of the time (after excluding Chrome, Edge & Safari agents).

But with a random profile all I get is a blank page. I  tried unchecking and changing all the settings, but nothing wor

[2020-05-12 01:20] GitTheHellOutaHere opened #367 "Seems to be a lot of issues with v0.20"
Was it tested for more than 5 minutes before release?

Wouldn't it be easier to revert to the old UI (as some have [requested](https://github.com/sereneblue/chameleon/issues/343)) than fix all the new bugs?

At least revert until the new UI has been THOROUGHLY VETTED  by beta testers?

I do appreciate the effort and time put into maintaining it, but it has also cause ME a lot of aggravation and wa

[2020-05-12 02:34] sereneblue commented on #366
@GitTheHellOutaHere This was an issue with plugin spoofing. v0.20.5 fixed an issue with plugins but it seems to have broken some sites. I've updated the code to better mimic plugins so this should be addressed in v0.20.6.

[2020-05-12 02:34] #366 closed

[2020-05-12 02:36] sereneblue commented on #367
@GitTheHellOutaHere There was an alpha build of Chameleon v0.20.0 available for some time. #291
Most of the

[2020-05-12 03:14] sereneblue commented on #367
@GitTheHellOutaHere

There was an alpha build of Chameleon v0.20.0 available for some time (#291). I admit there were a few bugs in some specific features. Automated testing (work in progress) would have caught some of them but not all. For example, the issue you were experiencing with #366 would not have been caught by testing. Some of these bugs will go undetected until a user lands on a site th

[2020-05-12 15:36] WPFilmmaker commented on #367
sereneblue does an amazing job with chameleon, I think the issues encountered (by myself as well) are due to the poor beta testing from the community. I don't know how many tested the beta (I didnt due to lack of time) but it seems not many.  Privacy extensions do break websites and sometimes break themselves as well because they are complex. We can all hope that more efforts will be put in bugs r

[2020-05-12 22:52] sereneblue commented on #349
@quiet23 It seems that the ArcGIS issue is because of timezone spoofing. This is related to #345.

[2020-05-13 01:03] 0pLuS0 opened #369 "Request & Question: Please Make UI Smaller & Disable Notifications?"
# Prerequisites

Please use issues for bugs only! Answer the following questions for yourself before submitting an issue: **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed

I know the UI size is a small issue, but it would be really nic

[2020-05-13 01:17] 0pLuS0 commented on #343
@sereneblue

I want to first say, I truly appreciate all the work and efforrt you put into Chamelon, thank you very much!

I have used Chameleon since you first began the project, and in all honesty, I don't see any benefit to this new UI, to me, it's just a new look is all nothing else.

BUT of course you added in the notifications, seeing numbers now for the things blocked, as well as them being

[2020-05-13 01:26] sereneblue commented on #343
@0pLuS0 The fingerprint detection panel was removed in v0.20.3 so you won't see those notifications anymore.

[2020-05-13 01:28] 0pLuS0 commented on #343
@sereneblue Hello!

What about the Popup Notification of ```Numbers``` disaplyed in the Chameleon Icon in Firefox?

THANKS

[2020-05-13 01:38] sereneblue commented on #369
@0pLuS0 The fingerprint detection panel has been removed in v0.20.3, please update Chameleon. About the UI size, I can reduce it a bit.

[2020-05-13 01:47] sereneblue commented on #343
@0pLuS0 That's also removed. :)

[2020-05-13 05:43] quiet23 commented on #349
@sereneblue, thank you so much, disabling timezone spoofing helped with arcgis.

[2020-05-13 22:32] h6a8ke1k opened #370 "[Feature Request] spoof label in MediaDeviceInfo"
I think it is useful to fake `MediaDeviceInfo.label`, which contains the name of device after permission is granted. It could leak info about the audio driver and language.

Sometimes I have to grant permission to use microphone on some websites. So faking it can be more useful than completely disable media devices.

`MediaDeviceInfo` is returned in an array by `navigator.mediaDevices.enumerateDev

[2020-05-14 03:44] sereneblue commented on #369
I've reduced the popup size in v0.20.7. It should be a noticeable difference; a bit more compact than the current size but slightly larger than v0.12.x. It will be available in the update tomorrow.

[2020-05-14 03:51] sereneblue commented on #370
Hi @h6a8ke1k,

Nice request! This seems simple to implement. I suppose the names would vary depending on the browser profile being used? Ex. Macs have a specific audio device, iOS devices, PCs, etc. I'll have to collect some info first.

[2020-05-14 10:18] dpellegr commented on #301
You were right. Everything seems fine from here. Great thanks!

[2020-05-14 10:18] #301 closed

[2020-05-14 23:40] #369 closed

[2020-05-17 04:04] sereneblue commented on #345
@h6a8ke1k

I've figured out the cause of the performance issue. The root of the problem seems to be the `toLocaleString` function used in modifyDate. Apparently, it has to do a lookup for the locale. Replacing this function call with a cached Intl.DateTimeFormat object significantly improves performance. I've also done some refactoring on how timezone spoofing works so timezone spoofing performanc

[2020-05-17 04:05] sereneblue commented on #272
@WPFilmmaker Has this issue been resolved by any recent updates?

[2020-05-17 06:59] h6a8ke1k commented on #345
It is great that you have found the problem! I am happy that I can help you debug and resolve this issue.
I will definitely test if there are any other issues after the next version is released.
Thank you for your continuous efforts in protecting people's privacy!

[2020-05-17 11:18] WPFilmmaker commented on #272
@sereneblue  I updated to 0.20.7.3 unfortunately it is still broken :/

I noticed something weird though: I put in whitelist the 2 urls above and I can see them in my white list. However if I go on the whitelist page through the icon while i am on whatsappweb it says it is not in whitelist..

Also I thought maybe having 2 sites in the same whitelist voice breaks the function, so I tried to remove

[2020-05-18 02:30] sereneblue commented on #272
Thanks @WPFilmmaker,

1. This was an issue with how URLs are matched in the whitelist. Chameleon checked to see if the host (web.whatsapp.com) was equal to the domain you provided (https://web.whatsapp.com/).  This should be fixed in the next update.
2. The issue with deleting a domain and getting a validation error was probably caused by white space at the end of the textarea. This is fixed in th

[2020-05-19 03:17] sereneblue commented on #349
@quiet23 Timezone spoofing has been fixed in v0.20.8. You should be able to load the ArcGIS now (with timezone spoofing) without issues.

[2020-05-19 03:17] #349 closed

[2020-05-19 03:18] #350 closed

[2020-05-19 03:24] sereneblue commented on #362
@GitGangGuy Are you still experiencing issues with v0.20.8?

[2020-05-19 03:24] sereneblue commented on #272
@WPFilmmaker Can you check if you're still experiencing issues with v0.20.8?

[2020-05-19 04:06] ookangzheng commented on #343
From what I saw, is a great move for chameleon it self as new version. Entire new UI is good for rebranding it self for now days UI trend. It doesn't make chameleon looks old like from 90's.

Just my thought, I learnt UI/UX in school and realize that Opensource community is scared to moving forward to new UI or design pattern. It kinda suck for other ppls who is not from CS background. For example

[2020-05-19 12:48] GitGangGuy commented on #362
As I described in my issue, Chameleon (as in versions before) reported that the visited page (like yt) was whitelisted, while it clearly was not.

Sorry, I can’t check right now. It still seems odd that it breaks all of a sudden.

All whitelisted pages, as described. They were using my real profile before, now they use the chameleon spoofed profile even though they’re whitelisted.

[2020-05-19 12:48] GitGangGuy commented on #362
I’ll have to check, give me a few days

[2020-05-20 03:59] h6a8ke1k commented on #345
@sereneblue Hi, thanks for your update! I experience no issues visiting bilibili with timezone spoof on now.

However, I found another website with issues: [https://web.archive.org/](https://web.archive.org/)
Type in any url that has a record, e.g. google.com. Then the calendar page cannot load and it is consuming all of the CPU available.

Using the profiling tool of Firefox, it seems that there

[2020-05-20 06:19] 0pLuS0 commented on #343
v0.20.8 now is nice, no more Popup numbers of the blocks and the notifications of what it was in the UI.

But the UI is still HUGE, maybe 25%-30% smaller would look better... :)

[2020-05-20 12:28] WPFilmmaker commented on #272
@sereneblue whitelisting in v0.20.8 fixes the problem, hurray!

[2020-05-20 12:28] #272 closed

[2020-05-20 13:28] WPFilmmaker opened #372 "2 improvements to the whitelist"
I would suggest a few improvements to how chameleon opens sites in whitelist, my observations derive from the fact that when I want to whitelist a site is probably because it is broken so I want a quick way to do it, and while doing it I noticed 2 petty things which I think could be improved:

1 put the name of the website in 'name' space (right now it is empty and you have to add manually, I thin

[2020-05-20 15:15] SunnyMoo opened #373 "Domain whitelisting broken only subdomain works"
Hi,
Before v0.20.8 (or maybe earlier) you could whitelist with domain name (google.com)
With v0.20.8 you must use subdomain for whitelist to work (mail.google.com) otherwise it reads the domain as "not blacklisted".
Issue is for all domains and not limited to google.com of course ;)
Thanks !

FF 76.0.1 Chameleon v0.20.8

[2020-05-20 23:18] sereneblue commented on #373
Hi @SunnyMoo,

This is a bug introduced in v0.20.8. It will be patched in v0.20.9.

[2020-05-20 23:18] sereneblue commented on #372
HI @WPFilmmaker,

Thanks for the suggestions! v0.20.9 will address both of these items.

[2020-05-20 23:21] SunnyMoo commented on #373
Nice, thank you !

[2020-05-20 23:32] sereneblue commented on #343
@0pLuS0 The older UI was 410x450. v0.20.0 was 510x600. After you brought attention to it, the popup was reduced to 426x502 in v0.20.7. There's not much more that I can comfortably cut without having to make compromises somewhere.

[2020-05-21 02:08] 0pLuS0 commented on #343
Oh so it's a little smaller now?

THANKS

[2020-05-21 02:34] sereneblue commented on #343
@0pLuS0 Yes, it's a bit smaller. You can check this by comparing v0.20.6 to v0.20.8.

https://addons.mozilla.org/en-US/firefox/addon/chameleon-ext/versions/

[2020-05-21 02:38] 0pLuS0 commented on #343
Ok, keep up the great work!

THANKS

[2020-05-21 04:05] sereneblue commented on #345
Hi @h6a8ke1k,

At a glance, this seems to be an issue with how timezone spoofing is implemented. That url is a pretty good test for the implementation. This is probably going to take a bit of work to fix so I won't be able to address it in the next update.

[2020-05-21 13:37] WPFilmmaker commented on #270
@sereneblue I tried with 0.20.8.1 and it is still broken. The new behavior is that the loading circle keeps loading forever. I tried disabling what I had enabled (etag protection, spoofing language, audio, client rects and font fingerprint(, once reloading I still had the same issue.

Whitelisting works, so does use 'real profile'. So it seems it is about the changed UA rather than ther settings (

[2020-05-21 23:39] #373 closed

[2020-05-21 23:39] #372 closed

[2020-05-22 02:33] sereneblue commented on #270
@WPFilmmaker This does seem to be caused by using a Chrome profile. I tried accessing https://www.facebook.com/watch/live/?ref=watch using a Chrome user agent on Firefox with Chameleon disabled and I get an error "Your Request Couldn't be Processed". Accessing one of the streams on that page also leads to an error.

It seems Facebook is using Chrome specific APIs or features. The whitelist can han

[2020-05-22 11:38] GitTheHellOutaHere opened #375 "Still blocking something"
With Chameleon enabled I can login to one of my banks and see the tab bar at the top of the page,  but the rest of the page is white - it won't display my account info. I can click the links in the tab dropdown menus and access different parts of the site, but I can't see any balances, transactions, payments due etc.

If I try to do a transfer I see this message:  **We are currently experiencing t

[2020-05-22 13:50] GitTheHellOutaHere commented on #375
Just discovered I also can't log in to [this](https://www.fredmeyer.com/signin?redirectUrl=/cl/coupons/) site with Chameleon enabled.

[2020-05-22 22:07] sereneblue commented on #375
Hi @GitTheHellOutaHere,

Can you post your settings?

[2020-05-23 09:55] GitTheHellOutaHere commented on #375
Didn't figure it mattered since I tried changing most of them - unchecking Injection and Standard items, allowing all cookies, turning off Tracking protection mode and allowing all websockets. I usually set websockets to _block all_ since I really don't understand what they do or if they're necessary or if they are a privacy risk, even after reading descriptions of how they function.

I was about

[2020-05-23 22:58] sereneblue commented on #375
@GitTheHellOutaHere

Every option except WebSockets found on the "Standard" and "Cookie" tabs are Firefox preferences that Chameleon can change. WebSocket is a new protocol that allows real-time communication between a server and a client. It's useful for sites that update data in real-time such as sport scores, chat messages, or multiplayer games. There are some potential security issues with the

[2020-05-23 22:58] #298 closed

[2020-05-24 02:12] GitTheHellOutaHere commented on #375
_AHA!_

Timezone was causing it. I didn't even think it was spoofed it because it was set to my actual zone and the setting no longer says **timezone spoofing**. But when I switched to Default, the site worked.

With it set to my zone I couldn't press the "sign in" button on [this](https://www.fredmeyer.com/signin?redirectUrl=/cl/coupons/) page - you can see there's a NO symbol on the cursor and t

[2020-05-24 02:42] sereneblue commented on #375
@GitTheHellOutaHere

Timezone spoofing is really an experimental feature. Chameleon overwrites how the normal `Date` object works. This breaks a lot of libraries that extend it. It's extremely difficult to get it "right" considering how it's implemented. I'm in the process of rewriting the implementation again. There's no reason to use timezone spoofing if you're going to use your actual timezone.

[2020-05-25 00:39] darkneptune commented on #331
https://open.spotify.com works bad again :(

[2020-05-25 03:05] sereneblue commented on #331
@darkneptune What browser profile is being used and can you attach your settings?

[2020-05-25 04:54] Megver83 opened #376 "Replace "Block media devices" with "Hide media devices""
Hi @sereneblue! I've been using the latest version of Chameleon, and I really liked it. However, the "Block media devices" option does not really block them, 'cause when a site asks for access to my camera or microphone, I'm able to give it, instead of, e.g., throwing an error saying that the site could not ask for permission to get access to the device (like in Tor Browser).

However, I see that

[2020-05-25 04:58] Megver83 commented on #342
unless you want to actually login to twitter, you could use nitter.net to view tweets and user profiles

[2020-05-25 14:01] WPFilmmaker opened #377 "chameleon breaks facebook.com"
I hope this won't be the same as #272... everything has always been working fine, today suddenly I got an error very similar to the one on whastappweb. Screenshot below. Disabling chameleon fixes the issues, has something changed in chameleon recently?Something that could interfere with fb? Or is it fb's side?

If possible I would rather avoid whitelisting fb.
76.0.1 (64-bit) Linux, chameleon 0.20

[2020-05-25 16:52] GitGangGuy commented on #362
I'm not experiencing this issue anymore, so I'll be closing it.
I guess the update fixed it. Thanks a lot!

[2020-05-25 16:52] #362 closed

[2020-05-25 21:52] sereneblue commented on #376
Hi @Megver83,

Thanks for bringing this to my attention. v0.20.11 will be released later today with an update to properly block media devices.

[2020-05-25 22:00] sereneblue commented on #377
@WPFilmmaker Can you post your settings? Chameleon has a changelog so you can view the major changes between versions [here](https://github.com/sereneblue/chameleon/blob/develop/CHANGELOG.md). In v0.20.10, there was a small update to improve whitelist matching. Does this happen when loading the page while logged in/out?

[2020-05-25 22:24] #376 closed

[2020-05-28 12:13] WPFilmmaker commented on #377
@sereneblue this is very weird...I had chameleon disabled because of this issue, today I re-enabled it to test what you suggested and it works fine...I suppose you haven't changed anything in these 3 days so must be on facebook's side. I am closing this as it works fine, I will reopen it if it happens again.

[2020-05-28 12:53] GitGangGuy commented on #270
I don't want to be a jerk, but I'd recommend to stay away from Facebooks spyware hell as far as possible. I'd consider Chameleon breaking facebook lives as a feature! ;)

[2020-05-28 12:57] WPFilmmaker commented on #270
@GitGangGuy you are indeed right, I try to avoid it as much as possible. FB is popular unfortunately, and if a user has to use it, I would say better with chameleon than without :)

[2020-06-04 02:13] sereneblue commented on #370
@h6a8ke1k

Just a quick update.

I am able to spoof the labels. I'm currently collecting values from different platforms to properly spoof the values. This feature should be available in Chameleon soon.

[2020-06-04 02:15] #375 closed

[2020-06-04 02:15] #367 closed

[2020-06-04 06:44] Jaystified opened #389 "Chameleon breaks AWS Lambda console"
## Expected Behavior

Opening up the lambda console of AWS at any region ( for example for us-east-1 the url would be https://console.aws.amazon.com/lambda/home ) should load the page properly.

## Current Behavior

Only the page header is displayed. The rest of the page does not load.
Opening up the page console shows this error:
[code]

And not much else that doesn't also show up without chamele

[2020-06-05 02:38] sereneblue commented on #389
Hi @Jaystified,

Thanks for reporting this issue. This issue is fixed in v0.20.12.

[2020-06-05 02:38] #389 closed

[2020-06-05 07:39] Escaping-Logic opened #391 "Bug in Chameleon v0.20.12.1"
I updated Chameleon v0.20.11.1 to v0.20.12.1 and noticed a bug.
All my previous settings such as spoofed user agent, disabled referrer, and altered resolution are still working, but they won't change when different settings are applied. (Options appear to be saved in a different position, but nothing is executed and enforced).

I've tried disabling and enabling Chameleon, and running it in private

[2020-06-05 12:53] Escaping-Logic commented on #391
I found a workaround by copying a backup of the older "3647222921wleabcEoxlt-eengsairo.sqlite" file to the "C:\Users\Admin\AppData\Roaming\Mozilla\Firefox\Profiles\7lhb7vha.default\storage\default\moz-extension+++0cde5bec-99ac-4898-b5d0-cbf90b58f2a3^userContextId=4294967295\idb\3647222921wleabcEoxlt-eengsairo.sqlite" directory.

It seems to now work at successful changing settings.

If other peopl

[2020-06-05 21:20] Escaping-Logic commented on #391
As I had expected, "3647222921wleabcEoxlt-eengsairo.sqlite" was just restoring my settings. Upon restarting Firefox my user agent was showing my real browser, and no other browser spoofs would work. This issue is not only affecting Windows 7 64-bit users, but my other machine using Mac OS 10.12.6 with Firefox 77.0.1 installed. I've disabled all other extensions on both machines, and the problem st

[2020-06-06 04:08] sereneblue commented on #391
Hi @Escaping-Logic,

The issue you're experiencing seems to have been caused by the update for Firefox 77 that broke a few addons. There is a [workaround](https://old.reddit.com/r/firefox/comments/gvc7zd/none_of_my_extensions_work_now_with_firefox_77/) that could resolve the issue, however, I wasn't able to get this working with FF77 on Linux There's nothing I can do besides notify users about thi

[2020-06-07 03:59] sereneblue commented on #391
@Escaping-Logic Upon further investigation, this does seem to be a bug with v0.20.12. I mispoke with my previous comment, although I'm puzzled why it occasionally worked with other Firefox versions. v0.20.13 addresses the issue: some code that was intended to be run for the initial migration from v0.12.x was being triggered.

[2020-06-07 03:59] #391 closed

[2020-06-12 17:40] kekkc opened #393 "[v0.20.13.1] Crippled Via header when using X-Forwarded-For/Via"
Hi all,

realized the following strange behavior since the latest version updates:
if X-Forwarded-For/Via IP range is used a wrong Via header is inserted. Instead of using the specified range a 1.1 is put in front of it, resulting in "Via: 1.1 93.192.98.94". This seems to result that all Cloudfare DDoS protected websites fail to load.

Although, I googled some references some years back where it w

[2020-06-12 23:59] sereneblue commented on #393
Hi @kekkc,

The `1.1` is used to specify the protocol used (in this case it's HTTP/1.1). More info can be found [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via). The reason why they're both together is because the desired functionality is to "spoof your IP via headers". Although `X-Forwarded-For` is generally the header that's used to determine the IP these days, some older se

[2020-06-13 02:29] kekkc commented on #393
Thx for the explanation for the protocol. One problematic example I found is: http://animedao.com/ , the DDoS check is always reloaded and started from the beginning.

BTW: didn't find my original source, but there's some info that Via is only used for debugging: https://stackoverflow.com/questions/15248785/the-difference-between-the-x-forwarded-for-header-and-the-via-header
Personally I'd prefer

[2020-06-13 04:10] sereneblue commented on #393
@kekkc Thanks for the link. That's an interesting debug case. Even with the IP headers disabled, Chameleon is causing issues with that page loading. I was able to proceed to a captcha page after trying to load the site again with Chameleon disabled. I figure that site has an aggressive form of Cloudflare protection. I'll take a look at it, and hopefully, it's something that can be addressed in an

[2020-06-13 09:34] kekkc commented on #393
Thanks for chasing this. I sent you another example link using the same Cloudfare protection via your web contact form.

[2020-06-14 03:23] sereneblue commented on #393
Removing the `Via` header doesn't seem to resolve the issue. I looked around a bit and found this [page](https://support.cloudflare.com/hc/en-us/articles/200170986-How-does-Cloudflare-handle-HTTP-Request-headers-) that details what Cloudflare does with the `X-Forwarded-For` header: it seems Cloudflare merges the client's true IP with the original X-Forwarded-For value so the final result that reac

[2020-06-14 16:48] travankor commented on #345
Separately, I noticed that timezone spoofing creates a notification on startup even when notifications are explicitly disabled. Mentioning here so I don't have to create a new issue for a minor problem.

[2020-06-14 18:44] sereneblue commented on #345
@travankor Timezone spoofing is exempt from notifications except when `IP` is selected. This is done to inform users about what timezone is being used. Sometimes the IP location can be wrong or missing. In the latter case, UTC is used.

[2020-06-14 20:49] sereneblue commented on #393
@kekkc

Disabling header IP spoofing for certain Cloudflare requests seems to resolve this issue. v0.20.14 will be released later today.

[2020-06-14 20:49] #393 closed

[2020-06-14 20:51] sereneblue commented on #270
@WPFilmmaker Were you able to resolve this issue by adding the whitelist rule I mentioned above?

[2020-06-14 21:42] travankor commented on #345
Interesting, but is there a reason why it doesn't use the OS's native notification system, such as `notify-send` on Linux/BSD?

[2020-06-14 22:47] kekkc commented on #393
It worked, many many thanks ;)

[2020-06-14 22:54] sereneblue commented on #345
@travankor It uses the WebExtension notifications API which _does_ use the OS's native notification system. What type of notifications are you getting?

[2020-06-15 07:58] Escaping-Logic opened #394 "Mapbox / OpenStreetMap is broken in v0.20.13 and v0.20.14"
Interactive weather radar is broken on multiple sites using OpenStreetMap. There is no zoom function or other features when Chameleon v0.20.13 and v0.20.14 are installed with any custom settings enabled. This occurs with me on the latest version of Firefox using Windows 7, Mac OS 10.12.6, and Andriod 9.

Examples of websites using OpenStreetMap:

https://whdh.com/radar
https://www.wcvb.com/weather

[2020-06-15 23:11] sereneblue commented on #394
Hi @Escaping-Logic,

Can you post your settings?

[2020-06-16 04:45] Escaping-Logic commented on #394
This issue even occurs when all other extensions are disabled and no custom settings selected in chameleon. (I also changed tracking protection from custom to standard.)

Examples:

https://ibb.co/MppCRr3

https://ibb.co/fttry8v

Interactive radar working:

https://ibb.co/1Lnmg30

Interactive radar broken:

https://ibb.co/g3pXLNt

[2020-06-16 15:29] travankor commented on #345
I can't reproduce this now, but there was an issue with firefox and dbus related to detecting notifications. The fallback mechanism is broken on at least wayland since the notification covers the entire screen. In any case, this is a bug with firefox.

[2020-06-17 01:35] sereneblue commented on #394
Hi @Escaping-Logic,

Thanks for posting some for more information. This does seem to be an issue. I'm currently looking into it.

[2020-06-18 02:51] sereneblue commented on #394
This issue should be resolved in v0.20.15.

[2020-06-18 02:51] #394 closed

[2020-06-19 06:27] btskc opened #395 "Interface Language Bug"
Since 0.20.4.2 this extension's Chinese interface does not display properly.
I've also tested that all versions other than es display the interface language correctly
Here are the test screenshots

de
![de.PNG](https://i.loli.net/2020/06/19/vQKOAlU9T6PBCax.png)

fr
![fr.PNG](https://i.loli.net/2020/06/19/BDwLROrnpcXCV7q.png)

ja
![ja.PNG](https://i.loli.net/2020/06/19/vCy2ImWDBaObnqi.png)

ru
![ru

[2020-06-19 15:40] WPFilmmaker commented on #270
@sereneblue It works thank you!

[2020-06-19 15:40] #270 closed

[2020-06-19 18:30] linksky56 opened #396 "Last update broke Weather.com"
Hello,

Latest update (Version 0.20.15.1)  breaks weather.com. https://weather.com/

The Today, Hourly and 10Day forecast pages don't load properly.
The Weekend, Monthly and Radar forecast pages do load correctly. Go figure?

Tried to whitelist weather.com and that didn't work.

When i disable Chameleon using icon or when i install old version (Version 0.20.14.1), all the pages for weather.com loa

[2020-06-20 01:30] sereneblue commented on #395
Hi @btskc,

Thanks for the extensive testing! This was caused because the locale for the browser was `zh-CN`, but Chameleon was expecting `zh_CN`. This should be fixed in the next version. I've also verified that all of the Spanish locales work.

[2020-06-20 01:30] #395 closed

[2020-06-20 17:12] sereneblue commented on #396
Hi @linksky56,

This was caused by a regression introduced in v0.20.15. This should be resolved in the next update.

[2020-06-20 17:12] #396 closed

[2020-06-21 02:46] linksky56 commented on #396
Hi @sereneblue

That was fast!!.....works perfect again.
Thank you!

[2020-06-22 16:45] WPFilmmaker commented on #161
@sereneblue FF 77 is out :D

[2020-06-23 00:26] sereneblue commented on #161
@WPFilmmaker I'll take another look at this issue again soon.

[2020-06-23 14:08] dependabot-preview[bot] opened #401 "Dependabot needs permission to see tailwindcss-toggle"
Dependabot couldn't resolve your project's dependencies as it couldn't access [tailwindcss-toggle](https://github.com/TowelSoftware/tailwindcss-toggle).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/sereneblue) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the hos